%svg.icon{ alt: t('sidebar.activity'), 'enable-background' => 'new 0 0 1000 1000', version: '1.1', viewBox: '0 0 1000 1000', x: '0px', 'xml:space' => 'preserve',xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', y: '0px' }
  %g
    %path{ d: "M500,437.4c-34.5,0-62.6,28.1-62.6,62.6s28.1,62.6,62.6,62.6s62.6-28.1,62.6-62.6S534.5,437.4,500,437.4z", fill: 'none' }
    %path{ d: "M500,281c-216.9,0-375.4,153.7-375.4,219c0,65.3,158.5,219,375.4,219c215.4,0,375.4-167.7,375.4-219\n\t\tS715.4,281,500,281z M500,687.7c-103.5,0-187.7-84.2-187.7-187.7S396.5,312.3,500,312.3S687.7,396.5,687.7,500\n\t\tS603.5,687.7,500,687.7z", fill: 'none' }
    %path{ d: "M500,312.3c-103.5,0-187.7,84.2-187.7,187.7S396.5,687.7,500,687.7S687.7,603.5,687.7,500\n\t\tS603.5,312.3,500,312.3z M500,562.6c-34.5,0-62.6-28.1-62.6-62.6s28.1-62.6,62.6-62.6s62.6,28.1,62.6,62.6S534.5,562.6,500,562.6z", fill: '#2ECC71' }
    %path.colorable{ d: "M846.9,273.8c-59.5-44-183.6-117.9-346.9-117.9C230.4,155.9-0.5,345.1-0.5,500S230.4,844.1,500,844.1\n\t\tc163.3,0,287.4-73.8,346.9-117.9c94.7-70.1,153.6-156.8,153.6-226.2S941.6,343.9,846.9,273.8z M500,719\n\t\tc-216.9,0-375.4-153.7-375.4-219c0-65.3,158.5-219,375.4-219c215.4,0,375.4,167.7,375.4,219S715.4,719,500,719z", fill: '#7E8087' }
