%svg.icon{ alt: t('sidebar.backlog'), 'enable-background' => 'new 0 0 1000 1000', version: '1.1', viewBox: '0 0 1000 1000', x: '0px', 'xml:space' => 'preserve',xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', y: '0px' }
  %g
    %path{ d: "M875.8,218.9c0-51.7-42.1-93.8-93.8-93.8H406.6c-51.7,0-93.8,42.1-93.8,93.8v46.2h46.9\n\t\tc34.5,0,62.6,28.4,62.6,62.9s-28,62.9-62.6,62.9h-46.9v93.3h46.9c34.5,0,62.6,28.4,62.6,62.9s-28,62.9-62.6,62.9h-46.9v93.3h563\n\t\tV218.9z", fill: 'none' }
    %path{ d: "M325.7,829.3c16.3,27.8,46.5,46.5,80.9,46.5H782c34.5,0,64.6-18.7,80.9-46.5H325.7z", fill: 'none' }
    %path{ d: "M172,547.2c0,15.9,5.9,30.4,15.6,41.5v-83C177.9,516.8,172,531.4,172,547.2z", fill: '#2ECC71' }
    %path{ d: "M422.3,547.2c0-34.5-28-62.9-62.6-62.9h-46.9v125.9h46.9C394.2,610.2,422.3,581.8,422.3,547.2z", fill: '#2ECC71' }
    %path{ d: "M172,328c0,15.9,5.9,30.4,15.6,41.5v-83C177.9,297.6,172,312.2,172,328z", fill: '#2ECC71' }
    %path{ d: "M422.3,328c0-34.5-28-62.9-62.6-62.9h-46.9V391h46.9C394.2,391,422.3,362.6,422.3,328z", fill: '#2ECC71' }
    %path{ d: "M875.8,782v-78.5h-563V782c0,17.3,4.7,33.5,12.9,47.4h537.2C871.1,815.4,875.8,799.2,875.8,782z", fill: '#2ECC71' }
    %path{ d: "M187.7,724.9c-9.7,11.1-15.6,25.7-15.6,41.5c0,16.8,6.6,32.1,17.4,43.5c-1.2-9.1-1.8-18.4-1.8-27.9V724.9z",  fill: '#2ECC71' }
    %path.colorable{ d: "M782,0H406.6C285.9,0,187.7,98.2,187.7,218.9v67.6v83v136.1v83v136.1V782c0,9.4,0.6,18.8,1.8,27.9\n\t\tc13.7,107.6,105.9,191.1,217.2,191.1H782c120.7,0,218.9-98.2,218.9-218.9v-563C1000.9,98.2,902.7,0,782,0z M782,875.8H406.6\n\t\tc-34.5,0-64.6-18.7-80.9-46.5c-8.2-13.9-12.9-30.1-12.9-47.4v-78.5v-93.3V484.3V391V265.1v-46.2c0-51.7,42.1-93.8,93.8-93.8H782\n\t\tc51.7,0,93.8,42.1,93.8,93.8v484.5V782c0,17.3-4.7,33.5-12.9,47.4C846.6,857.1,816.4,875.8,782,875.8z", fill: '#7E8087' }
    %path.colorable{ d: "M18.1,487.6C6.6,499.2,0,515.5,0,531.7c0,16.3,6.6,32.5,18.4,44.4c11.6,11.6,27.8,18.1,44.1,18.1\n\t\tc16.2,0,32.5-6.6,44.4-18.5c11.6-11.6,18.1-27.8,18.1-44.1c0-16.3-6.6-32.5-18.4-44.4C83.5,464.2,41.9,464.2,18.1,487.6z", fill: '#7E8087' }
    %path.colorable{ d: "M18.1,268.4C6.6,280.3,0,296.2,0,312.8c0,16.3,6.6,32.5,18.1,44.1C30,368.8,46,375.3,62.6,375.3\n\t\tc16.2,0,32.5-6.6,44.4-18.5c11.6-11.6,18.1-27.8,18.1-44.1c0-16.6-6.6-32.5-18.4-44.4C83.5,245.2,41.9,245.2,18.1,268.4z", fill: '#7E8087' }
    %path.colorable{ d: "M18.1,706.6C6.6,718.2,0,734.4,0,750.7c0,16.6,6.6,32.5,18.1,44.1C30,806.7,46,813.2,62.6,813.2\n\t\tc16.2,0,32.5-6.6,44.1-18.4c11.9-11.6,18.4-27.5,18.4-44.1c0-16.3-6.6-32.5-18.4-44.1C83.5,683.1,41.6,683.1,18.1,706.6z", fill: '#7E8087' }
