%svg.icon{ alt: t('sidebar.canvas'), 'enable-background' => 'new 0 0 1000 1000', version: '1.1', viewBox: '0 0 1000 1000', x: '0px', 'xml:space' => 'preserve', xmlns: 'http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', y: '0px' }
  %g
    %path{ d: "M92.8,720H61.5c-34.6,0-62.6,28.5-62.6,63.1c0,34.6,28.1,63.1,62.6,63.1h31.3c34.6,0,62.6-28.5,62.6-63.1\n\t\tC155.5,748.6,127.4,720,92.8,720z", fill: '#2ECC71' }
    %path.colorable{ d: "M938.5,720H312.1c-34.6,0-62.6,28.5-62.6,63.1c0,34.6,28,63.1,62.6,63.1h626.5c34.6,0,62.6-28.5,62.6-63.1\n\t\tC1001.2,748.6,973.1,720,938.5,720z", fill: '#7E8087' }
    %path{ d: "M92.8,436.9H61.5c-34.6,0-62.6,28.5-62.6,63.1s28.1,63.1,62.6,63.1h31.3c34.6,0,62.6-28.5,62.6-63.1\n\t\tS127.4,436.9,92.8,436.9z", fill: '#2ECC71' }
    %path.colorable{ d: "M938.5,436.9H312.1c-34.6,0-62.6,28.5-62.6,63.1s28,63.1,62.6,63.1h626.5c34.6,0,62.6-28.5,62.6-63.1\n\t\tS973.1,436.9,938.5,436.9z", fill: '#7E8087' }
    %path{ d: "M92.8,153.7H61.5c-34.6,0-62.6,28.5-62.6,63.1S26.9,280,61.5,280h31.3c34.6,0,62.6-28.5,62.6-63.1\n\t\tS127.4,153.7,92.8,153.7z", fill: '#2ECC71' }
    %path.colorable{ d: "M312.1,280h626.5c34.6,0,62.6-28.5,62.6-63.1s-28-63.1-62.6-63.1H312.1c-34.6,0-62.6,28.5-62.6,63.1\n\t\tS277.5,280,312.1,280z", fill: '#7E8087' }
