---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=ab(1)
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456250106133'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e9-edb81312"
      X-Iinfo:
      - 9-215839845-215792267 PNNN RT(1456250104964 123) q(0 0 0 -1) r(3 3) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cc9cfa154982bc371588f3","name":"ab(1)","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/pnqpxo3f/ab-1","shortUrl":"https://trello.com/b/pnqpxo3f","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 23 Feb 2016 17:57:42 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/56cc9cfa154982bc371588f3/lists?filter=open&key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456250107635'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18c-b7934317"
      X-Iinfo:
      - 9-215840448-215792267 PNNN RT(1456250106508 131) q(0 0 0 -1) r(2 2) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"56cc9cfa154982bc371588f4","name":"To Do","closed":false,"idBoard":"56cc9cfa154982bc371588f3","pos":16384,"subscribed":false},{"id":"56cc9cfa154982bc371588f5","name":"Doing","closed":false,"idBoard":"56cc9cfa154982bc371588f3","pos":32768,"subscribed":false},{"id":"56cc9cfa154982bc371588f6","name":"Done","closed":false,"idBoard":"56cc9cfa154982bc371588f3","pos":49152,"subscribed":false}]'
  recorded_at: Tue, 23 Feb 2016 17:57:43 GMT
- request:
    method: put
    uri: https://api.trello.com/1/lists/56cc9cfa154982bc371588f4?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=To%20Do&closed=true&pos=16384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456250108171'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-da1bf46d"
      X-Iinfo:
      - 3-88004671-87868732 PNNN RT(1456250106998 154) q(0 0 0 -1) r(3 3) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cc9cfa154982bc371588f4","name":"To Do","closed":true,"idBoard":"56cc9cfa154982bc371588f3","pos":16384}'
  recorded_at: Tue, 23 Feb 2016 17:57:44 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=Arbor%20Backlog%20Export&closed=false&idBoard=56cc9cfa154982bc371588f3&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456250111392'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-56a7cca1"
      X-Iinfo:
      - 2-69823948-69730245 PNNN RT(1456250110126 240) q(0 0 0 -1) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cc9cff27006f64a2f68e86","name":"Arbor Backlog Export","closed":false,"idBoard":"56cc9cfa154982bc371588f3","pos":8192}'
  recorded_at: Tue, 23 Feb 2016 17:57:47 GMT
- request:
    method: get
    uri: https://slack.com/api/auth.test?token=ny3ayehylvt5iom5xduksnt4mqz88uhpgl3gwy5xuvquz5ykxc6ne8d6yswoeuewfo4tvdehsbbqcharws4fni4so1gtncthfjxg4c2si54je68hm7uc3au31oqytfhrrpz8qycxl67gsqw1ckupjvze587f5k2urm7vyfvgff9r8ltpu8t6x5v9g1fef5u7m5k51ayyuv3bsgitgawpoqd7vy7cv3c62iaopp7xxjjdeoqntmcarn3smjm7bez(80)
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 09 Jun 2016 15:14:02 GMT
recorded_with: VCR 2.9.3
