---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=sit(2)
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254238933'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2eb-9b8c381a"
      X-Iinfo:
      - 7-164528826-164528873 NNNN CT(144 146 0) RT(1456254237452 143) q(0 0 3 1)
        r(6 6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccad1e3a0d826ed783f91a","name":"sit(2)","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/4AW6pdGf/sit-2","shortUrl":"https://trello.com/b/4AW6pdGf","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 23 Feb 2016 19:06:35 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/56ccad1e3a0d826ed783f91a/lists?filter=open&key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254239587'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18c-95f12071"
      X-Iinfo:
      - 10-240162747-240157180 PNNN RT(1456254238473 132) q(0 0 0 1) r(1 1) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"56ccad1e3a0d826ed783f91b","name":"To Do","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":16384,"subscribed":false},{"id":"56ccad1e3a0d826ed783f91c","name":"Doing","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":32768,"subscribed":false},{"id":"56ccad1e3a0d826ed783f91d","name":"Done","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":49152,"subscribed":false}]'
  recorded_at: Tue, 23 Feb 2016 19:06:35 GMT
- request:
    method: put
    uri: https://api.trello.com/1/lists/56ccad1e3a0d826ed783f91b?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=To%20Do&closed=true&pos=16384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254240253'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-72f2b003"
      X-Iinfo:
      - 5-142586329-142461409 PNNN RT(1456254239104 130) q(0 0 0 0) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccad1e3a0d826ed783f91b","name":"To Do","closed":true,"idBoard":"56ccad1e3a0d826ed783f91a","pos":16384}'
  recorded_at: Tue, 23 Feb 2016 19:06:36 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=Arbor%20Backlog%20Export&closed=false&idBoard=56ccad1e3a0d826ed783f91a&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254242177'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-bc85979e"
      X-Iinfo:
      - 0-53568955-53463333 PNNN RT(1456254240995 126) q(0 0 0 5) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccad22463767b02184291e","name":"Arbor Backlog Export","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":8192}'
  recorded_at: Tue, 23 Feb 2016 19:06:38 GMT
- request:
    method: get
    uri: https://slack.com/api/auth.test?token=wehhrm9gmylxxvnio4w9kdx4i4b0spclmn0hxzjmtooy48pxh02nn79bsodt3jwukng789ztgtb9os3ibw4dftdqfwhxerc6s20bgbv5oszydhzx0t6fmrym9e298z965j5j3hngixor8glnaz9w7ysk0h7g838u812ifuunv9svmtwtpzp83ak4hgezj9j0ie9u044zg8ceddxzt9lj6xa0nbb6280y0gdvku9x3vw86lkkdh9avqlf4a0r603(364)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - df4266b2-5330-4fc9-aaed-4eaa9011ea49
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 29 Dec 2016 20:48:17 GMT
- request:
    method: get
    uri: https://slack.com/api/auth.test?token=2x56z1f2prnmxyzujxlwukmi2uv3ojjc68c4plp9iyeiqsq6isrg5kuhmfevz7u097300fwvov05i6go48cs94pv3wq14hvfwdugmgzp0qsyathzv05zognhf0lzt267on3xp0ru1t2uivu6ac35lhd805x50i5h40y5tordmf0r3ilbv4hdt82jsp4ksew0hkoz2abngz1jwc8v8xeoea4sg0mazkv4x4tkuwuvxkt0dai5ocm7s92mmarfh26(416)
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 8a1c247c-0a4f-493e-9a19-fb9830362119
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Tue, 04 Jul 2017 17:25:45 GMT
- request:
    method: get
    uri: https://slack.com/api/auth.test?token=tdvmttkqpi293fqrffgax83h9r740cvm8f6p7tj28we8bolu639yl39wi9jmxv2np237tj8h74gsdlyh8lyk16qyj7gj9clp08x9zy3o2ktg2vmn0jp6scalwklbjs15htl1jl9uii6mwgkvvxzg0nm8h36s2idvxdd5oyzfjxdknib87yajnq2u81ayq8tjurlix3q14zjbaw31l1nb0dlzp3bqv6zuo0odm41my1inbdu06wozex3jd49jfww(97)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - fcf686a0-cabf-4aa9-81e8-5cb2a29c27cf
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Tue, 04 Jul 2017 19:56:24 GMT
recorded_with: VCR 2.9.3
