---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=VALID_TRELLO_DEVELOPER_KEY&token=TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=Arbor%20Backlog%20Export&closed=false&idBoard=56ccb5c3baccf9c2e14ae822&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456257507203'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-3e14ac3c"
      X-Iinfo:
      - 6-135235372-135195869 PNNN RT(1456257506060 123) q(0 0 0 2) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccb9e39ba7fda07ee995ca","name":"Arbor Backlog Export","closed":false,"idBoard":"56ccb5c3baccf9c2e14ae822","pos":4096}'
  recorded_at: Tue, 23 Feb 2016 20:01:03 GMT
recorded_with: VCR 2.9.3
