---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=sit(2)
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254238933'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2eb-9b8c381a"
      X-Iinfo:
      - 7-164528826-164528873 NNNN CT(144 146 0) RT(1456254237452 143) q(0 0 3 1)
        r(6 6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccad1e3a0d826ed783f91a","name":"sit(2)","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/4AW6pdGf/sit-2","shortUrl":"https://trello.com/b/4AW6pdGf","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Tue, 23 Feb 2016 19:06:35 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/56ccad1e3a0d826ed783f91a/lists?filter=open&key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254239587'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18c-95f12071"
      X-Iinfo:
      - 10-240162747-240157180 PNNN RT(1456254238473 132) q(0 0 0 1) r(1 1) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"56ccad1e3a0d826ed783f91b","name":"To Do","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":16384,"subscribed":false},{"id":"56ccad1e3a0d826ed783f91c","name":"Doing","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":32768,"subscribed":false},{"id":"56ccad1e3a0d826ed783f91d","name":"Done","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":49152,"subscribed":false}]'
  recorded_at: Tue, 23 Feb 2016 19:06:35 GMT
- request:
    method: put
    uri: https://api.trello.com/1/lists/56ccad1e3a0d826ed783f91b?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=To%20Do&closed=true&pos=16384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254240253'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-72f2b003"
      X-Iinfo:
      - 5-142586329-142461409 PNNN RT(1456254239104 130) q(0 0 0 0) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccad1e3a0d826ed783f91b","name":"To Do","closed":true,"idBoard":"56ccad1e3a0d826ed783f91a","pos":16384}'
  recorded_at: Tue, 23 Feb 2016 19:06:36 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=VALID_TRELLO_DEVELOPER_KEY&token=VALID_TRELLO_AUTH_TOKEN
    body:
      encoding: US-ASCII
      string: name=Arbor%20Backlog%20Export&closed=false&idBoard=56ccad1e3a0d826ed783f91a&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456254242177'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-bc85979e"
      X-Iinfo:
      - 0-53568955-53463333 PNNN RT(1456254240995 126) q(0 0 0 5) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56ccad22463767b02184291e","name":"Arbor Backlog Export","closed":false,"idBoard":"56ccad1e3a0d826ed783f91a","pos":8192}'
  recorded_at: Tue, 23 Feb 2016 19:06:38 GMT
recorded_with: VCR 2.9.3
