---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/boards?key=VALID_TRELLO_DEVELOPER_KEY&token=TRELLO_TOKEN
    body:
      encoding: US-ASCII
      string: name=molestiae(1)
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456320390042'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f7-ce81ac39"
      X-Iinfo:
      - 5-151540000-151536394 PNNN RT(1456320388845 111) q(0 0 0 -1) r(3 3) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cdaf857234d6f4a665b22e","name":"molestiae(1)","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/gS40Xk5u/molestiae-1","shortUrl":"https://trello.com/b/gS40Xk5u","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":true,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Wed, 24 Feb 2016 13:29:07 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/56cdaf857234d6f4a665b22e/lists?filter=open&key=VALID_TRELLO_DEVELOPER_KEY&token=TRELLO_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456320390641'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19c-2a31ac2c"
      X-Iinfo:
      - 4-121745342-121710486 PNNN RT(1456320389548 106) q(0 0 0 -1) r(2 2) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '[{"id":"56cdaf857234d6f4a665b22f","name":"Lista de tareas","closed":false,"idBoard":"56cdaf857234d6f4a665b22e","pos":16384,"subscribed":false},{"id":"56cdaf857234d6f4a665b230","name":"En
        proceso","closed":false,"idBoard":"56cdaf857234d6f4a665b22e","pos":32768,"subscribed":false},{"id":"56cdaf857234d6f4a665b231","name":"Hecho","closed":false,"idBoard":"56cdaf857234d6f4a665b22e","pos":49152,"subscribed":false}]'
  recorded_at: Wed, 24 Feb 2016 13:29:08 GMT
- request:
    method: put
    uri: https://api.trello.com/1/lists/56cdaf857234d6f4a665b22f?key=VALID_TRELLO_DEVELOPER_KEY&token=TRELLO_TOKEN
    body:
      encoding: US-ASCII
      string: name=Lista%20de%20tareas&closed=true&pos=16384
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456320391288'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79-3cd8b16f"
      X-Iinfo:
      - 5-151540506-151536394 PNNN RT(1456320389967 306) q(0 0 0 -1) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cdaf857234d6f4a665b22f","name":"Lista de tareas","closed":true,"idBoard":"56cdaf857234d6f4a665b22e","pos":16384}'
  recorded_at: Wed, 24 Feb 2016 13:29:08 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=VALID_TRELLO_DEVELOPER_KEY&token=TRELLO_TOKEN
    body:
      encoding: US-ASCII
      string: name=Arbor%20Backlog%20Export&closed=false&idBoard=56cdaf857234d6f4a665b22e&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456320394917'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-e4398e5e"
      X-Iinfo:
      - 7-173998199-173993582 PNNN RT(1456320393592 282) q(0 0 0 -1) r(3 3) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cdaf8ac5c1e9a5785fb462","name":"Arbor Backlog Export","closed":false,"idBoard":"56cdaf857234d6f4a665b22e","pos":8192}'
  recorded_at: Wed, 24 Feb 2016 13:29:12 GMT
recorded_with: VCR 2.9.3
