---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/lists?key=VALID_TRELLO_DEVELOPER_KEY&token=TRELLO_TOKEN
    body:
      encoding: US-ASCII
      string: name=Arbor%20Backlog%20Export&closed=false&idBoard=VALID_BOARD_ID&pos=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.582.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1456323908424'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-1ae0b00b"
      X-Iinfo:
      - 4-123029258-123009439 PNNN RT(1456323906879 532) q(0 0 0 -1) r(2 2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"id":"56cdbd449e0d88fa0952f1cf","name":"Arbor Backlog Export","closed":false,"idBoard":"VALID_BOARD_ID","pos":2048}'
  recorded_at: Wed, 24 Feb 2016 14:27:46 GMT
recorded_with: VCR 2.9.3
