%header.header-layout
  %h2.pdf-title{ style: 'font-family: Helvetica, sans-serif; text-align:center; margin:150px auto;' }= project_name
  .arbor-pdf-logo
    = wicked_pdf_image_tag('arbor-logo-bigger.png', style:'display: block; width: 100%;')
