#new-project.section-margin-top.row
  .large-6.large-centered.columns
    %p.create-project= t('create_project.title')
    =link_to t('create_project.project_button'), new_project_path, class: 'button radius small success'
    - @projects.each do |project|
      %li
        = link_to project.name, arbor_reloaded_project_canvases_path(project_id: project.id), title: " Go to #{project.name}", class: 'sidebar-project-item'
        = link_to edit_project_path(project), id: 'icon_edit_project' do
          %span.icon-edit
Arbor Reloaded
