= form_for [project, hypothesis] do |form|
  %span.bullet
  = form.text_field :description, placeholder: I18n.translate('labs.hypotheses.enter_description'), class: 'custom',
    required: true, maxlength: 250, class: 'description' + (hypothesis.errors.any? ? '-error' : '')
  = form.select(:hypothesis_type_id, hypothesis_types.all.collect { |ht|[ht.description, ht.id] }, {}, { class: 'type' })
  = form.submit I18n.translate('save'), class: 'hide'
