-if independent_stories.any?
  %section#user-stories-without-hypothesis
    .hypothesis.clearfix
      .description.row
        .hypothesis-title
          %span.bullet
          = t('labs.undefined_hypothesis')
      .stories
        -independent_stories.each do |user_story|
          .new-user-story.row
            = link_to user_story_path(user_story), class: 'delete-user-story', title: 'Delete User Story', method: :delete do
              %span.icon-trash
            = render 'user_stories/lab_form', project: project,
            user_story: user_story,
            hypothesis: nil,
            form_url: user_story_path(user_story)
