= form_for(comment, remote: true) do |form|
  = form.text_field :comment, class: 'backlog-placeholder', placeholder: t('backlog.user_stories.new_comment')
  = form.submit t('save'), id: 'save-comment', class: 'hide'
