.delete-constraint-edit.edit-backlog-inputs
  = link_to constraint_path(constraint), class: 'delete-constraint', remote: true, id: 'delete_constraint', method: :delete do
    %span.icon-trash
  = render 'constraints/form', constraint: constraint
