.delete-constraint-edit
  = render 'constraints/form', constraint: constraint
  = link_to 'Delete', constraint_path(constraint), class: 'delete-constraint', method: :delete, remote: true, id: 'delete_constraint'
