= form_for constraint do |form|
  - unless constraint.kind_of?(Array)
    %span.bullet
  = form.text_area :description, class: 'constraint-input backlog-placeholder resizable-text-area', maxlength: 254, placeholder: t('backlog.user_stories.enter_constraint')
  = form.submit t('save'), id: 'save-constraint', class: 'hide'
:javascript
  new CustomTextArea();
