.delete-acceptance-criterion-edit.edit-backlog-inputs
  = link_to acceptance_criterion_path(acceptance_criterion), class: 'delete-acceptance-criterion', remote: true, id: 'delete_acceptance_criterion', method: :delete do
    %span.icon-trash
  = render 'acceptance_criterions/form', criterion: acceptance_criterion
