= render 'arbor_reloaded/navigation/user_nav'
.change-password.row
  .title-breaker
    %h5= t('reloaded.users.profile')
  .edit-inputs
    %input.enter-password{ type: 'password', placeholder: t('reloaded.users.enter_password') }
    %input.confirm-password{ type: 'password', placeholder: t('reloaded.users.confirm_password') }
  %input.current-password{ type: 'password', placeholder: t('reloaded.users.current_password') }
  = link_to t('reloaded.users.save_btn'),'#', class: 'button tiny radius'
  = link_to t('reloaded.users.cancel_btn'),'#', class: 'button tiny radius secondary'
