= form_for(user_story, remote: true, url: arbor_reloaded_user_story_path(user_story)) do |form|
  = form.text_field(                      |
    :description,                         |
    class:     'description-input',       |
    required:  true,                      |
    maxlength: 500,                       |
    autofocus: 'true',                    |
    value:     user_story.log_description |
  )                                       |
  .actions
    = link_to t('reloaded.backlog.cancel'), '#', class: 'close-edition button tiny'
    = form.submit t('reloaded.backlog.save'), id: 'save-user-story', class: 'close-edition button tiny tiny-btn'
