%li.backlog-user-story{ data: { id: user_story.id } }
  = link_to '#', class: 'story-detail-link', data: { reveal_id: 'story-detail-modal'} do
    %span.story-points 3
    .story-text
      %span.grey-prefix= t('reloaded.backlog.role')
      %span=user_story.role
      %span.grey-prefix= t('reloaded.backlog.action')
      %span=user_story.action
      %span.grey-prefix= t('reloaded.backlog.result')
      %span=user_story.result
