.new-backlog-story
  = render 'arbor_reloaded/user_stories/form', user_story: UserStory.new, project: @project
.backlog-story-list
  - if @project.user_stories.count > 0
    - @project.user_stories.each do |user_story|
      = render 'arbor_reloaded/user_stories/user_story', user_story: user_story
