= form_for [project, attachment.becomes(Attachment)] do |form|
  - form.object = attachment.becomes(attachment.class)
  %span.bullet
  = form.text_field :content, placeholder: I18n.translate('attachment.link.enter_url')
  = form.hidden_field :table_type, value: 'LinkAttachment'
  = form.submit I18n.translate('save')
