// FONTS MIXIN
// --------------------------------------------------

@each $font-face in arbor-icons {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: font-url('#{$font-face}.eot');
    src: font-url('#{$font-face}.eot?#iefix') format('embedded-opentype'),
         font-url('#{$font-face}.woff') format('woff'),
         font-url('#{$font-face}.ttf') format('truetype'),
         font-url('#{$font-face}.svg#font-face') format('svg');
  }
}

@mixin font($font, $style: normal, $variant: normal, $weight: normal) {
  font-family: $font, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: $style;
  font-variant: $variant;
  font-weight: $weight;
}

// FONT ICONS
// --------------------------------------------------

[class^="icon-"]::before {
  @include font(arbor-icons);
  line-height: normal;
  position: relative;
  speak: none;
  text-transform: none;
}

span {
  &.icon-mail::before  { content: '\e600'; }
  &.icon-pass::before  { content: '\e601'; }
  &.icon-user::before  { content: '\e602'; }
  &.icon-edit::before  { content: '\e603'; }
  &.icon-left::before  { content: '\e604'; }
  &.icon-check::before { content: '\e605'; }
  &.icon-arrow::before { content: '\e606'; }
  &.icon-note::before  { content: '\e60a'; }
}
