%tr.release-plan-header
  %th.project-start-date{ colspan: 2 }= I18n.t('release_plan.start_date')
  - sprints.each_with_index do |sprint, index|
    %th
      .sprint-title= "sprint #{index}"
      .sprint-date{ class: current_sprint(sprint[:delivery_date]) }
        = sprint[:delivery_date]
