%div#log
  - @activities_by_pages.each_with_index do |activity_page, index|
    %div.log-page{ id: "log_page_#{index}", class: "#{index > 0 ? 'inactive' : 'active'}" }
      = render 'log_page', page_activities: activity_page


