%li.team.white-block
  -# .right
  -#   = link_to '#', class: 'others' do
  -#     &#149&#149&#149
  -# .actions
  -#   = link_to '#', class: 'delete-project' do
  -#     %span.icn-delete
  -#   = link_to '#', method: :post, class: 'copy-project' do
  -#     %span.icn-copy
  -# = link_to '#', class: 'block-wrapper with-border radius' do
  -#   .data
  -#     %p.truncate.title= team.name
  -#     %p.members-amount= "#{team.users.count} members"
  -# .deleter
  -#   %span.icn-delete
  -#   %p= t('reloaded.project_dashboard.are_you_sure2')
  -#   %p.truncate.title= team.name
  -#   = link_to t('reloaded.project_dashboard.delete_project'), '#', method: :delete, class: 'button radius alert tiny'
  -#   = link_to t('reloaded.project_dashboard.cancel'), '#', class: 'cancel'
