= form_for project, url: arbor_reloaded_project_path(project), html: { id: 'edit-project' }  do |f|
  = f.label :name, class: 'hide'
  = f.text_field :name, class: 'project-name'
  = f.submit id: 'submit-edit-project-form', class: 'hide'
