= form_tag arbor_reloaded_project_add_member_path(project), method: :put, class: 'edit_project' do
  = text_field_tag :member, nil, type: :email, placeholder: t('reloaded.project_members.mail_invite'), class: 'new-member-mail radius'
  = submit_tag :submit, class: 'submit-modal-form hidden-element'
