.dashboard-header.row
  .search-bar.large-8.medium-6.column
    %input{ type: 'text', placeholder: t('reloaded.project_dashboard.search_input'), id: 'projects-filter', data: { url: arbor_reloaded_projects_list_path } }
  .right-search-content.large-4.medium-6.column
    .recent-link
      = select_tag 'project_order', options_for_select({ t('reloaded.project_dashboard.sort_by_name')=>'by_name',
        t('reloaded.project_dashboard.sort_by_recent')=>'recent'}, 'recent'), data: { remote: true, url: arbor_reloaded_projects_path }
    .create-project
      =link_to t('reloaded.project_dashboard.create_button'), '#', class: 'reloaded-btn radius small', id: 'create-project-btn', data: { reveal_id: 'project-modal' }
