.dashboard-header
  .search-bar.small-12.medium-6.large-8.column
    %span.icn-search
    %input{ type: 'text', placeholder: t('reloaded.project_dashboard.search_input'), id: 'projects-filter', data: { url: arbor_reloaded_projects_list_path } }
  .right-search-content.small-12.medium-6.large-3.column
    .recent-link
      = select_tag 'project_order', options_for_select({ t('reloaded.project_dashboard.sort_by_name')=>'by_name',
        t('reloaded.project_dashboard.sort_by_recent')=>'recent'}, 'recent'), data: { remote: true, url: arbor_reloaded_projects_path }
    .create-project
      =link_to '+', '#', class: 'circle-add-btn', id: 'create-project-btn', data: { reveal_id: 'project-modal' }
