.dashboard-header.row
  .search-bar.medium-6.column
    = image_tag('icons/reloaded-search-icon.svg', class: 'icon input-icon')
    %input{ type: 'text', placeholder: t('reloaded.project_dashboard.search_input')}
    .collapse-project-list
      %ul
        %li
          = image_tag('icons/favorite-icon.svg', class: 'icon')
          =link_to 'Project 1'
        %li
          =link_to 'Project 2'
        %li
          =link_to 'Project 3'
        %li
          = image_tag('icons/favorite-icon.svg', class: 'icon')
          =link_to 'Project 4'
        %li
          =link_to 'Project 5'
        %li
          =link_to 'Project 6'
  .recent-link.medium-3.column
    =link_to t('reloaded.project_dashboard.recent_link'), '#'
  .create-project.medium-3.column
    =link_to t('reloaded.project_dashboard.button'), '#', class: 'reloaded-btn radius small', id: 'create-project-btn', data: { reveal_id: 'project-modal' }
