ARBOR.projects.init = function () {
  var max_member_count  = <%= ENV['MAXIMUM_MEMBER_COUNT'] %>;
  var wrapper           = $('#members');
  var add_member_button = $('#new_member_button');

  $(add_member_button).click(function(e) {
    var member_count = $('#members input.member').size();
    var member_input = generateInput(member_count);

    e.preventDefault();
    if (member_count < max_member_count) {
      $(wrapper).append('<div>' + member_input + '</div>');
    }
  });

  function generateInput(member_count) {
  var member_id    = 'member_' + member_count;
  var member_name  = 'project[' + member_id + ']';
  return '<input class="member" ' +
         '<input placeholder="Member mail" ' +
         'name="' + member_name + '" ' +
         'id="' + member_id + '" ' +
         'type="email">';
  }//generateInput
};
