development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: arbor_development
  pool:     5
  username: yourpgusername
  password:

test: &TEST
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: arbor_test<%= ENV['TEST_ENV_NUMBER'] %>
  pool:     5
  username: yourpgusername
  password:

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: arbor_production
  pool:     5
  username: postgres
  password: postgres

