// --------------------------------------------------------
// BASE STYLES
// --------------------------------------------------------


// -------  VARIABLES ------ //

$primary-nav-color: #22252e;
$secondary-nav-color: #282c37;
$hover-navigation: #30323b;
$dashboard-hover-color: #f8f8f8;
$white: #fff;
$black: #000;

// We use these as default colors throughout

$transparent: transparent;
$primary-color: #282c37;
$secondary-color: #393939;
$success-color: #2ecc71;
$canvas-color: #e62940;
$error-color: $canvas-color;
$warning-color: #fbab1f;
$lab-color: #4ba4f6;
$backlog-color: $success-color;
$icon-color: #53565f;
$light-bg: #fbfbfb;
$font-color-2: #626262;
$font-color-3: #b3b3b3;
$border-color: #cecece;
$modal-bg-color: #ececec;
$light-blue: #a6b6bd;
$light-blue-2: #eceff1;
$inactive-green: #49df7a;

// Favorite project random colors

$favorite-colors-list: (
  #e57373,
  #f06292,
  #ba68c8,
  #9575cd,
  #7986cb,
  #64b5f6,
  #4fc3f7,
  #4dd0e1,
  #4db6ac,
  #81c784,
  #aed581,
  #dce775,
  #ffd54f,
  #ffb74d,
  #ff8a65,
  #a1887f
);

$color-tags-amount: 7;

$color-tags: (
  #81c784,
  #ffd54f,
  #64b5f6,
  #9575cd,
  #ba68c8,
  #f06292,
  #e57373
);

// Grayscale
$black-10:  darken($white, 10%) !default;
$black-20:  darken($white, 20%) !default;
$black-30:  darken($white, 30%) !default;
$black-35:  darken($white, 34%) !default;
$black-40:  darken($white, 40%) !default;
$black-50:  darken($white, 50%) !default;
$black-60:  darken($white, 60%) !default;
$black-70:  darken($white, 70%) !default;
$black-80:  darken($white, 80%) !default;
$black-90:  darken($white, 90%) !default;
$light-grey: #eff0ef;

// ------- SHADOWS' DEPTH ------ //
$shadow-depth-1: rgba($black-50, .3) 1px 1px 2px;
$shadow-depth-hover: rgba($black-50, .2) 3px 8px 25px;

// -------  MIXINS ------ //
@mixin favorite-colors($color) {
  &:hover {
    .right [class^="icn-favorite"] {
      background-color: $color;

      &:before { color: white; }
    }

    .last-update,
    .others.others { color: $color; }
  }

  .project:after { background-color: $color; }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin grab-cursor {
  cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8='), all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

@mixin grabbing-cursor {
  cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8='), all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

@mixin fake-border($height, $color: false, $left: false, $top: false, $right: false, $bottom: false) {
  &::before {
    @if $color == false { $color: $backlog-color; }
    @if $left { left: $left; }
    @if $top { top: $top; }
    @if $bottom { bottom: $bottom; }
    @if $right { right: $right; }

    @include background-image(linear-gradient(left, $color 0%, $color 100%));
    content: '';
    height: $height;
    position: absolute;
    width: 100%;
  }//before nav
}//mixing for creating a border

@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
} // appearance none mixin

@mixin center($x: default, $y: default) {
  position: absolute;
  @if ($x and $y) {
    @include transform(-50%, -50%);
    left: 50%;
    top: 50%;
  } @else if ($x) {
    @include transform(-50%, 0);
    left: 50%;
  } @else if ($y) {
    @include transform(0, -50%);
    top: 50%;
  }
}

// -------  ROUNDED BUTTON ------ //

@mixin circle-btn($bg-color: $primary-color, $dimension: 48, $font-size: 24) {
  @include single-transition(box-shadow, .25s, ease-in);
  @include border-radius(100%);
  @include box-shadow($shadow-depth-1);
  background-color: $bg-color;
  color: $white;
  cursor: pointer;
  display: block;
  height: rem-calc($dimension);
  font-size: rem-calc($font-size);
  line-height: rem-calc($dimension);
  text-align: center;
  width: rem-calc($dimension);

  &:hover {
    @include opacity(.8);
    @include box-shadow($shadow-depth-hover);
  }
}//circle btn

// -------  UTILITY CLASSES ------ //

.truncate {
  @include ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hidden-element { display: none !important; }


//User avatar
@mixin user-avatar($dimensions, $avatar-font-size : rem-calc(50)) {
  position: relative;

  .avatar-img,
  .avatar-circle,
  .preview {
    @include background-size(cover);
    @include border-radius(100%);
    background-position: center;
    height: $dimensions;
    line-height: $dimensions;
    position: relative;
    text-align: center;
    width: $dimensions;
    z-index: 2;

    &.preview {
      position: absolute;
      top: 0;
    }
  }

  .avatar-circle {
    background-color: $black-20;
    color: $white;
    font-size: $avatar-font-size;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 1;
  }
}
