BE A BETTER PRODUCT OWNER
\
\
= @inviter
invited you to collaborate on a project called
= @project_name
in Arbor.
\
\
Arbor is the most effective way to distill your idea into an actionable roadmap that your team can use to define and build out your product.
\
\
To get started, click on the button below:
\
\
View project,
Thanks!
\
\- Arbor Team
