= form_for new_group, url: arbor_reloaded_project_groups_path(new_group.project), html: { id: 'new_group' }, remote: true  do |f|
  = f.text_field :name, placeholder: t('reloaded.create_group.placeholder'), class: 'group-name radius'
  .new-group-errors
