.group-divider.add-new-group{ id: "add-new-group-#{place}" }
  .title-breaker.form-group-container
    %h5= t('reloaded.groups.create')
    .new-group-container.hide
      = render 'arbor_reloaded/groups/form', new_group: new_group, add_ungrouped_stories: add_ungrouped_stories
