= form_tag arbor_reloaded_team_add_member_path(team), method: :put, remote: true, class: 'new-member' do
  = email_field_tag :member, nil, type: :email, placeholder: t('reloaded.project_members.mail_invite'), class: 'team-member-email radius'
  .team-member-errors
  = submit_tag :submit, class: 'submit-team-members hidden-element'
