%form
  %input{ class: 'new-member-mail radius', |
    type: "email", |
    required: true, |
    placeholder: t('reloaded.team.modal.mail_invite')}
  %input{type: 'submit', class: 'hidden-element', id: 'submit-modal-form'}
