---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/oauth.access?client_id=VALID_SLACK_CLIENT_ID&client_secret=CLIENT_SECRET&code=VALID_CODE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":true,"access_token":"xoxp-4750359453-4751795247-21146106389-a644feea9e","scope":"identify,commands,channels:read","team_name":"Neon
        Roots","team_id":"T04N2AKDB"}'
  recorded_at: Fri, 12 Feb 2016 15:01:10 GMT
recorded_with: VCR 2.9.3
