---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/VALID_CODE
    body:
      encoding: UTF-8
      string: '{"text":"New comment on US#1379","attachments":[{"title":"New comment
        on US#1379","text":"comment","color":"#2FA44F"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Mon, 04 Apr 2016 17:03:15 GMT
recorded_with: VCR 2.9.3
