//  CREATE USER STORY
// - - - - - - - - - - - - - - - - - - - - - - - - -

.new-backlog-story {
  @include border-radius($global-radius);
  background-color: $dashboard-hover-color;
  color: $black-40;
  font-size: rem-calc(22);
  margin-top: rem-calc(50);
  padding: rem-calc(15 25);

  .backlog-story-input {
    float: left;
    padding: 0;
    width: auto;
  }

  input {
    background-color: $dashboard-hover-color;
    border: 0;
    display: inline-block;
    font-size: rem-calc(22);
    margin-bottom: 0;
    min-width: rem-calc(90);
    text-align: center;
    @include input-placeholder { color: $black-80; };

    &:focus {
      background-color: $dashboard-hover-color;
      border: 0;
    }
  } // input

  #save-user-story {
    @include border-radius($global-radius);
    background-color: $white;
    border: 1px solid $black-10;
    float: right;
    font-size: rem-calc(12);
    padding: rem-calc(8 0);
    text-transform: uppercase;
  } // create button
}

//  USER STORY LIST
// - - - - - - - - - - - - - - - - - - - - - - - - -

.backlog-user-story {
  border-top: 1px solid $black-30;
  padding: rem-calc(20 0 20 15);

  &:first-child { margin-top: rem-calc(30); }

  &:last-child { border-bottom: 1px solid $black-30; }

  &:hover {
    background: $dashboard-hover-color;
    border-top: 1px solid $black-10;
    cursor: pointer;

    +li { border-top: 1px solid $black-10; }
  }

  .story-points {
    @include inline-block();
    @include border-radius(rem-calc(100%));
    background: $black-20;
    font-size: rem-calc(12);
    height: rem-calc(25);
    line-height: rem-calc(25);
    margin-right: rem-calc(10);
    position: absolute;
    text-align: center;
    width: rem-calc(25);
  } // span

  .story-text {
    @include inline-block();
    max-width: 90%; // momentary
    padding-left: rem-calc(40);

    .grey-prefix {
      color: $black-40;
      font-size: rem-calc(16);
    } //grey text
  } // text
} //  user story
