//  CREATE USER STORY
// - - - - - - - - - - - - - - - - - - - - - - - - -

.new-backlog-story {
  @include border-radius($global-radius);
  background-color: $dashboard-hover-color;
  color: $black-40;
  font-size: rem-calc(22);
  padding: rem-calc(15 25);

  .backlog-story-input {
    float: left;
    width: auto;
  }

  input {
    background-color: $dashboard-hover-color;
    border: 0;
    display: inline-block;
    font-size: rem-calc(22);
    margin-bottom: 0;
    min-width: rem-calc(90);
    text-align: center;
    @include input-placeholder { color: $black-80; };

    &:focus { background-color: $dashboard-hover-color; }
  } // input

  #save-user-story {
    background-color: $white;
    border: 1px solid $black-10;
    color: $black-90;
    float: right;
    text-transform: uppercase;
  } // create button
}

//  USER STORY LIST
// - - - - - - - - - - - - - - - - - - - - - - - - -

$story-points-dimension: rem-calc(25);
$story-padding-sides: rem-calc(15);
$story-padding-top: rem-calc(20);
$badge-dimension: rem-calc(7);
$circle-dimension: $story-points-dimension;

.backlog-user-story,
#story-delete-modal,
#story-detail-modal {
  .icn-comments,
  .story-points,
  .story-actions {
    @include border-radius(100%);
    background: $black-10;
    font-size: rem-calc(12);
    height: $story-points-dimension;
    line-height: $story-points-dimension;
    position: absolute;
    text-align: center;
    width: $story-points-dimension;
  } // span
}//styles for backlog user story and modal

.reorder-user-stories { &:last-child { border-bottom: 1px solid $black-10; } }

.backlog-user-story {
  border-top: 1px solid $black-10;
  padding: $story-padding-top $story-padding-sides;
  position: relative;

  &:first-child { margin-top: rem-calc(30); }

  &:hover {
    background: $dashboard-hover-color;
    cursor: pointer;

    .circle-checkbox { @include opacity(1); }
  }//backlog user story hover

  .icn-comments {
    font-size: rem-calc(13);
    right: $story-padding-sides;
    top: $story-padding-top;
    vertical-align: top;

    &:hover { @include opacity(.8); }
  } // comment icon

  .notification-badge {
    @include border-radius(100%);
    background: $canvas-color;
    display: block;
    height: $badge-dimension;
    position: absolute;
    right: -1px;
    top: 0;
    width: $badge-dimension;
  }

  .story-detail-link {
    display: block;
    position: relative;
  }//story link to details

  .story-text {
    @include inline-block();
    padding: 0 ($story-points-dimension + $story-padding-sides);
  } // text

  .circle-checkbox {
    @include opacity(0);
    background-color: $black-10;
    height: $story-points-dimension;
    left: -(($story-padding-sides * 2) + ($story-points-dimension / 2));
    top: $story-padding-top;
    width: $story-points-dimension;

    &::after {
      border: solid $black-80;
      border-width: rem-calc(0 2 2 0); // creates the inverted "L" shape
      display: block;
      height: rem-calc(10);
      left: rem-calc(9);
      margin-top: -1px;
      width: rem-calc(5); // the short bar of the mark is half as long as the long bar
    }

    &:checked { @include opacity(1); }
  } // circle checkbox
} //  user story

//  STICKY SELECT MENU
// - - - - - - - - - - - - - - - - - - - - - - - - -

.sticky-menu {
  $icons-margin-bottom: rem-calc(10);

  @include border-radius($global-radius);
  background-color: $black-10;
  display: none;
  height: ($story-points-dimension * 3) + ($icons-margin-bottom * 4);
  padding: $icons-margin-bottom;
  position: fixed;
  right: 5%;
  top: rem-calc(270);
  width: $story-points-dimension + ($icons-margin-bottom * 2);
  z-index: 10;

  [class^='icn-'] {
    @include border-radius(100%);
    @include inline-block();
    background-color: $white;
    font-size: rem-calc(13);
    height: $story-points-dimension;
    line-height: $story-points-dimension;
    margin-bottom: $icons-margin-bottom;
    text-align: center;
    width: $story-points-dimension;
  } // icons on menu
} // sticky menu


//  STORIES EMPTY
// - - - - - - - - - - - - - - - - - - - - - - - - -

.no-user-stories {
  h5,
  p { text-align: center; }

  p { color: black-30; }

  h5 {
    font-size: rem-calc(20);
    margin-top: 16%;
  } // h5
} // empty user story list
