$general-canvas-padding: rem-calc(30);

#canvas {
  .left-content-wrapper {
    border-right: 1px solid $black-10;

    .canvas-item {
      color: $black-30;

      +.done {
        color: $success-color;

        &::after {
          color: $success-color;
          content: '\2713';
        }
      }
    } // items checked

    .canvas-visited {
      color: $black;
      font-weight: $font-weight-bold;
    }

    .progress-bar {
      margin: ($general-canvas-padding / 2) 0 0;

      .progress {
        @include border-radius($global-radius);
        background-color: $black-10;
      }

      .meter {
        @include border-radius($global-radius 0 0 $global-radius);
        background-color: $success-color;
      }
    } // progress bar
  } // left wrapper

  .canvas-item-list {
    margin-top: $general-canvas-padding;

    li {
      cursor: pointer;
      font-size: rem-calc(20);

      &::before {
        color: $success-color;
        content: '•';
        font-size: rem-calc(20);
        padding-right: rem-calc(10);
      }
    }
  } // list

  .canvas-fields {
    label {
      font-size: rem-calc(18);
      margin-bottom: ($general-canvas-padding / 2);
    }

    textarea {
      @include border-radius($global-radius);
      min-height: rem-calc(200);
    }
  }

  .right-content-wrapper {
    margin-top: rem-calc(50);
    padding-left: rem-calc(40);

    .resizable-text-area {
      max-height: rem-calc(475);
      position: relative;
    }

    .enter {
      @include inline-block;
      color: $black-40;
      font-size: rem-calc(14);
    } // press

    .secondary-btn {
      bottom: rem-calc(-13);
      float: right;
      position: absolute;
      right: rem-calc(15);
      text-transform: uppercase;
    } // save button
  } // right content
} // canvas
