$dark-grey: #393939;
$light-grey: #b7b7b7;
$shadow-grey: #686868;
$text-color: #999;
$shadow: 0 -.5px 1.5px 0 rgba($shadow-grey, .4);

#canvas {
  display: flex;
  flex-wrap: wrap;
}

.canvas-question-container {
  color: $light-grey;
  flex-basis: 33%;
  font-size: rem-calc(14);
  padding: rem-calc(10);
  @media #{ $medium-only } { flex-basis: 50%; }
  @media #{ $small-only } { flex-basis: 100%; }

  .question-form {
    background-color: $white;
    border-radius: rem-calc(2);
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    height: rem-calc(200);
    padding: rem-calc(15);
    @media #{ $small-only } { height: auto; }
  }

  header {
    align-items: center;
    display: flex;

    > * + *  { margin-left: rem-calc(10); }

    h5 {
      color: $dark-grey;
      display: inline-block;
      font-weight: normal;
      margin: 0;
    }

    .info-trigger {
      border: 1px solid $light-grey;
      border-radius: 50%;
      box-sizing: content-box;
      color: $light-grey;
      display: inline-block;
      font-size: rem-calc(11);
      height: rem-calc(14);
      line-height: rem-calc(15);
      text-align: center;
      width: rem-calc(14);
    }
  } // header

  .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: rem-calc(15);

    .question {
      color: $text-color;
      font-size: rem-calc(14);
      height: 100%;
      line-height: normal;
      margin-bottom: 0;
      overflow-y: overlay;
      word-wrap: break-word;

      &.default {
        font-size: rem-calc(12);
        font-style: italic;
      }
    }

    textarea {
      border: 0;
      display: none;
      flex: 1;
      height: 100%;
      padding: 0;
      resize: none;
      width: 100%;
      @media #{ $small-only } { resize: vertical; }

      @include input-placeholder {
        font-size: rem-calc(12);
        font-style: italic;
      };
    }

    .actions-wrapper {
      display: none;
      text-align: right;

      .button {
        font-size: rem-calc(10);
        margin: 0;
        padding: .5rem .9rem;
        text-transform: uppercase;

        &.cancel {
          background-color: $light-grey;
          color: $black;
        }

        + .button { margin-left: rem-calc(10); }
      } // button
    } // actions-wrapper

    &.edit {

      .question { display: none; }

      textarea,
      .actions-wrapper { display: block; }
    }
  } // body
} // canvas-question-container
