$estimation-margin: rem-calc(40);
$icon-dimension: rem-calc(15);

.estimation-wrapper h4,
.edit-wrapper h4 { font-weight: normal; }

.estimation {
  .toggle-estimation,
  .icn-settings {
    background-color: $body-bg;
    color: $black-20;
    float: right;

    &:hover { color: $black-30; }
  }

  .toggle-estimation {
    @include border-radius(rem-calc(2));
    border: 1px solid $black-20;
    font-size: rem-calc(12);
    height: $icon-dimension;
    line-height: rem-calc(10);
    margin-top: rem-calc(4);
    text-align: center;
    width: $icon-dimension;

    &::before {
      content: '+';
      vertical-align: text-bottom;
    }

    &.active {
      &::before {
        content: '-';
        vertical-align: middle;
      }
    }
  }

  .icn-settings {
    line-height: rem-calc(24);
    padding: rem-calc(0 7 0 15);
  }

  .estimation-wrapper {
    margin: 0 auto;

    @media #{$medium-up} { width: 75%; }

    .estimation-item {
      @include border-radius($global-radius);
      background-color: $white;
      border: 1px solid $border-color;
      padding: 0;
      position: relative;
      text-align: center;
      text-transform: uppercase;

      p { margin-bottom: 0; }

      .title {
        border-bottom: 1px solid $border-color;
        color: $black-80;
        font-size: rem-calc(12);
        padding: $estimation-margin / 2;
      }

      .cost,
      .value { height: rem-calc(140); }

      .value p { font-size: rem-calc(88); }

      .cost p {
        @include translateY(50%);
        font-size: rem-calc(40);
      }

      .icn-settings {
        background-color: transparent;
        bottom: rem-calc(5);
        display: none;
        position: absolute;
        right: rem-calc(5);
      }//.icn-settings

      &:hover { .icn-settings { display: block; } }
    } // item box
  }
} // estimation

//  ESTIMATION MODAL
// - - - - - - - - - - - - - - - - - - - - - - - - -

#edit-estimation-modal {
  padding: 0;
  text-align: center;
  width: rem-calc(400);

  h5 { border-bottom: 1px solid $black-20;}
  .estimation-item { text-align: center; }

  .title {
    @include inline-block();
    font-size: rem-calc(12);
    margin: 0;
    text-transform: uppercase;
  }

  .edit-wrapper {
    margin: $estimation-margin 0;
    width: auto;

    input {
      background-color: $light-bg;
      border: 0;
      color: $black;
      font-size: rem-calc(40);
      height: rem-calc(50);
      line-height: rem-calc(50);
      margin: 0 auto;
      padding: 0 0 0 rem-calc(15);
      text-align: center;
    } // input
  } // edit wrapper

  .estimation-info {
    @include inline-block();
    @include border-radius(100%);
    border: 1px solid $black-20;
    color: $black-20;
    font-size: rem-calc(10);
    font-weight: inherit;
    height: $icon-dimension;
    line-height: $icon-dimension;
    text-align: center;
    width: $icon-dimension;
  }
} // modal
