$estimation-margin: rem-calc(40);
$icon-dimension: rem-calc(15);
$estimation-box-height: rem-calc(140);

.estimation-wrapper h4,
.edit-wrapper h4 { font-weight: normal; }

.estimation {
  .estimation-wrapper {
    margin: 0 auto;

    @media #{$medium-up} { width: 75%; }

    .estimation-item {
      @include border-radius($global-radius);
      background-color: $white;
      border: 1px solid $border-color;
      padding: 0;
      position: relative;
      text-align: center;
      text-transform: uppercase;

      p { margin-bottom: 0; }

      .title {
        border-bottom: 1px solid $border-color;
        color: $black-80;
        font-size: rem-calc(12);
        padding: $estimation-margin / 2;
      }

      .cost,
      .value { height: $estimation-box-height; }

      .value p { font-size: rem-calc(88); }

      .cost p {
        font-size: rem-calc(34);
        line-height: $estimation-box-height;
      }
    } // item box
  }
} // estimation

//  ESTIMATION MODAL
// - - - - - - - - - - - - - - - - - - - - - - - - -

#edit-estimation-modal {
  text-align: center;
  width: rem-calc(400);

  h5 { background-color: $light-bg; }

  .estimation-item {
    text-align: center;

    + .estimation-item { margin-top: rem-calc(30); }
  }

  .title {
    @include inline-block();
    font-size: rem-calc(12);
    margin: 0;
    text-transform: uppercase;
  }

  .edit-wrapper {
    margin: $estimation-margin 0;
    width: auto;

    input {
      background-color: $light-bg;
      border: 0;
      border-bottom: 1px solid $black-20;
      color: $black;
      display: block;
      font-size: rem-calc(40);
      height: rem-calc(50);
      line-height: rem-calc(50);
      margin: 0 auto;
      padding: 0 0 0 rem-calc(15);
      text-align: center;
    } // input
  } // edit wrapper

  .estimation-info {
    @include inline-block();
    @include border-radius(100%);
    border: 1px solid $black-20;
    color: $black-20;
    font-size: rem-calc(10);
    font-weight: inherit;
    height: $icon-dimension;
    line-height: $icon-dimension;
    text-align: center;
    width: $icon-dimension;
  }

  .modal-footer { border-top: 0; }
} // modal
