$modal-margin: rem-calc(20);

#google-sheets-modal {
  h2 { margin-bottom: $modal-margin; }

  .google-sheets-export-success { color: $success-color; }
  .google-sheets-export-error { color: $error-color; }

  #google-sheets-export-submit { margin-bottom: $modal-margin / 2; }

  .export-text {
    color: $black-30;
    margin: $modal-margin;

    p {
      font-size: rem-calc(14);
      margin: 0;
    }
  } // disclaimer text
}
