#google-sheets-modal {
  $modal-margin: rem-calc(20);

  h2 { margin-bottom: $modal-margin; }
  button                        { margin-bottom: $modal-margin / 2; }
  .google-sheets-export-success { color: $success-color; }
  .google-sheets-export-error   { color: $error-color; }

  .export-text {
    color: $black-30;
    margin: $modal-margin;

    p {
      font-size: rem-calc(14);
      margin: 0;
    }
  } // disclaimer text
}
