// --------------------------------------------------------
// ICONS
// --------------------------------------------------------

@font-face {
  font-family: 'arbor-icons';
  src: url('arbor-icons.eot?kh46d5');
  src: url('arbor-icons.eot?kh46d5#iefix') format('embedded-opentype'),
	  url('arbor-icons.ttf?kh46d5') format('truetype'),
    url('arbor-icons.woff?kh46d5') format('woff'),
    url('arbor-icons.svg?kh46d5#arbor-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icn-'],
[class*=' icn-'] {
  font-family: 'arbor-icons';
  font-size: rem-calc(17);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  vertical-align: middle;
}

.icn-export::before { content: '\e912'; }
.icn-water-drop::before { content: '\e911'; }
.icn-arrow-left::before { content: '\e90f'; }
.icn-arrow-right::before { content: '\e910'; }
.icn-user::before { content: '\e90d'; }
.icn-favorite-empty::before { content: '\e904'; }
.icn-favorite::before { content: '\e906'; }
.icn-delete::before { content: '\e907'; }
.icn-copy::before { content: '\e908'; }
.icn-archive::before { content: '\e900'; }
.icn-arrow-dropdown::before { content: '\e901'; }
.icn-arrow::before { content: '\e902'; }
.icn-comments::before { content: '\e903'; }
.icn-cross::before { content: '\e905'; }
.icn-notifications::before { content: '\e909'; }
.icn-search::before { content: '\e90a'; }
.icn-settings::before { content: '\e90b'; }
.icn-signout::before { content: '\e90c'; }
.icn-edit::before { content: '\e90e'; }
.icn-disable::before { content: '\2349'; }
