body {
  &.locked { overflow: hidden; }
}

li,
a { outline: 0; }

ul { margin: 0; }
li { list-style: none; }

// CIRCULAR CHECKBOX

.circles {
  @include appearance-none;
  @include border-radius(100%);
  @include translateY(-35%);
  background-color: $white;
  cursor: pointer;
  float: right;
  height: rem-calc(20);
  position: relative;
  width: rem-calc(20);

  &::after {
    @include transition(opacity .25s ease-in-out, color .25s ease-in-out);
    @include transform(rotate(45deg) translate(-50%, -50%));
    @include opacity(0);
    color: $black-50;
    content: '+';
    font-size: rem-calc(14);
    font-weight: $font-weight-bold;
    left: rem-calc(4);
    line-height: normal;
    position: absolute;
    top: 50%;
  }

  &:hover::after { @include opacity(1); }

  &:checked {
    &:hover::after { color: $black-50; }

    &::after {
      @include opacity(1);
      color: $black-70;
    }
  }
} // circle

.ui-helper-hidden-accessible { display: none; } // hide default search result text coming from the jquery widget

// -------  BASE FORM STYLES ------ //

input:focus {
  @include input-placeholder {
    @include transition(opacity .25s ease-in-out);
    @include opacity(.5);
  }
}
