//   GENERAL STYLES
// - - - - - - - - - - - - - - - - - - - - - - - - -

$page-wrapper-margin:  rem-calc(50);

li,
select,
a { outline: 0; }

a { color: $secondary-color; }

ul { margin: 0; }
li { list-style: none; }

input { outline: 0; }

// CIRCULAR CHECKBOX

.circle-checkbox {
  @include appearance-none;
  @include border-radius(100%);
  background: $black-10;
  cursor: pointer;
  height: rem-calc(20);
  outline: 0;
  position: absolute;
  width: rem-calc(20);

  &::after {
    @include opacity(0);
    @include transform(rotate(45deg) translate(-50%, -50%));
    content: '';
    font-size: rem-calc(14);
    font-weight: $font-weight-bold;
    line-height: normal;
    position: absolute;
    top: 50%;
  }

  &:hover::after { @include opacity(1); }

  &:checked {
    &::after {
      @include opacity(1);
      color: $black-70;
    }

    &:hover::after { color: $black-50; }
  } // checked
} // circle

.ui-helper-hidden-accessible { display: none; } // hide default search result text coming from the jquery widget

.grey-prefix { color: $black-40; }

.button.secondary {
  background-color: $black-10;
  color: $black-80;
  margin-left: $button-margin-bottom;
} // secondary grey btn

// -------  BASE FORM STYLES ------ //

input:focus {
  @include input-placeholder {
    @include transition(opacity .25s ease-in-out);
    @include opacity(.5);
  }
}

// -------  SECTION'S SEPARATOR ------ //

.title-breaker {
  margin: rem-calc(35) 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::after {
    border-bottom: 1px solid $light-blue-2;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    z-index: -1;
  }//border

  h5 {
    @include inline-block;
    background-color: $body-bg;
    color: $light-blue;
    font-size: rem-calc(14);
    font-weight: $font-weight-normal;
    line-height: 1;
    margin: 0;
    padding: rem-calc(0 15);
  }
}//section separator

// -------  BLOCK ELEMENT AND ACTIONS' BUTTONS ------ //

$action-circle-dimension: rem-calc(25);
$action-circle-margin: rem-calc(10);
$block-padding: rem-calc(15);
$block-min-height: rem-calc(140);
$bottom-square-height: rem-calc(7);
$block-animation-delay: .40s;

%data {
  bottom: $block-padding;
  position: absolute;
  width: calc(100% - #{$block-padding} * 2);
}

.white-blocks-list {
  .white-block {
    position: relative;

    .actions,
    .deleter,
    .right {
      line-height: $action-circle-dimension;
      position: absolute;
      right: $block-padding + $block-grid-default-spacing / 2;
      top: $block-padding;
      z-index: 2;

      [class^="icn-"] {
        @include opacity(1);
        font-size: rem-calc(13);
        line-height: $action-circle-dimension;
        vertical-align: top;

        &:hover { @include opacity(.7); }
      }

      [class^="icn-favorite"],
      .others {
        font-size: rem-calc(18);

        &.others {
          color: $light-blue;
          cursor: pointer;
        }//other
      }//other and favorite

      .delete-project,
      .copy-project,
      [class^="icn-favorite"] {
        @include inline-block;
        @include border-radius(100%);
        background-color: $black-10;
        float: right;
        height: $action-circle-dimension;
        line-height: $action-circle-dimension;
        margin-right: $action-circle-margin;
        text-align: center;
        width: $action-circle-dimension;
      }// circled buttons

      .favorite-link {
        @include inline-block;
        padding-bottom: rem-calc(1);
      }

      .icn-favorite-empty:hover,
      .is-favorite .icn-favorite-empty { &::before { content: '\e906'; } }//icon

      .delete-project { margin-right: 0; }
    }//all three floating sections on the right

    .actions,
    .deleter {
      @include clearfix;
      color: $secondary-color;
      display: none;
      min-width: rem-calc(100);
      z-index: 3;

      &.visible { display: block; }

      &.actions {
        background-color: $white;

        .icn-favorite-empty { @include inline-block; }}
    }//actions and deleter

    // Delete user story overlay
    .deleter {
      z-index: 4;

      .title {
        display: block;
        font-size: rem-calc(20);
        margin-bottom: rem-calc(10);
      }

      p,
      a:not(.button) {
        @include inline-block;
        color: $black-50;
        font-size: rem-calc(10);
        margin: 0;

        &.cancel { margin-right: $block-padding; }
      }

      .button { margin: 0 $block-padding; }
      .delete-project { float: none; }
    }// deleter

    // Right section with ... and favorite btn
    .right {
      .favorite,
      .others {
        @include inline-block;
      }

      [class^="icn-favorite"] {
        display: none;
        margin-right: rem-calc(5);
      }//icon
    }//right section

    &:hover {
      z-index: 1;

      .others { color: $secondary-color; }
      .block-wrapper {
        @include box-shadow($shadow-depth-hover);

        &::after { background-color: $success-color; }
      }
    }//hover
  }//white block

  .block-wrapper {
    @include single-transition(box-shadow, .25s, ease-in);
    @include box-shadow($shadow-depth-1);
    background-color: $white;
    display: block;
    padding: $block-padding;
    position: relative;

    .data { @extend %data; }

    &.with-border {
      &::after {
        @include transition(background-color, height, .25s, ease-in);
        background-color: $light-blue;
        bottom: 0;
        content: '';
        height: $bottom-square-height;
        left: 0;
        position: absolute;
        width: 100%;
      }

      .data {
        @include single-transition(bottom, .25s, ease-in $block-animation-delay);
        bottom: $block-padding / 2;
        position: absolute;
        width: calc(100% - #{$block-padding} * 2);
      }//data

      &:hover .data { bottom: $block-padding; }
    }//if block has border below

    &.radius {
      @include border-radius($global-radius);

      &.with-border::after { @include border-bottom-radius($global-radius); }

      + .deleter {
        @include border-radius($global-radius);
        background-color: darken($light-grey, 60%);
        height: calc(100% - #{$block-grid-default-spacing} );
        padding: $block-padding;
        right: $block-grid-default-spacing / 2;
        text-align: center;
        top: 0;
        width: calc(100% - #{$block-grid-default-spacing});

        p,
        [class^="icn-"] { color: $white; }
      }//sibiling deleter
    }//if block has rounded corners
  }//block wrapper
}//blocks container

// ALERTS
.alert-box .alert,
.alert-box .warning,
.alert-box .error {
  border: 0;
  left: 20%;
  margin: rem-calc(10) auto;
  padding: rem-calc(10 20);
  position: absolute;
  width: 60%;
  z-index: 9999;

  ul { font-size: rem-calc(14); }
}

.alert-box.error,
.alert-box.alert { background-color: $alert-color; }

.alert-box.warning { background-color: $success-color; }

.page-wrapper { margin: $page-wrapper-margin 0; }

// DASHED INPUT
.dashed-input {
  &[type="text"],
  &[type="email"],
  &[type="password"] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px dashed $black-20;
    text-align: center;

    &:focus {
      background-color: transparent;
      border-bottom: 1px dashed lighten($primary-nav-color, 20%);
    }
  }
}//dashed input

.tiny-btn {
  background-color: $white;
  border: 1px solid $black-10;
  color: $black-90;
  text-transform: uppercase;
} // create button
