
// MODALS
// - - - - - - - - - - - - - - - - - - - - - - - - -

$modal-sides-padding: rem-calc(30);
$modal-padding-top: rem-calc(15);
$modal-padding: $modal-padding-top $modal-sides-padding;
$modal-close-offset: rem-calc(20);

#copy-stories-modal,
#project-modal,
#team-modal {
  @extend .text-center;

  padding: $modal-padding;

  h2 { font-size: rem-calc(32); }
}

.reveal-modal-bg { position: fixed; }

.reveal-modal {
  margin-bottom: $modal-sides-padding;
  min-height: inherit;
  outline: 0;

  .modal-wrapper {
    @include border-bottom-radius($reveal-radius);
    padding: $modal-padding;
  }

  h5 {
    @include border-top-radius($reveal-radius);
    background-color: lighten($black-10, 6%);
    margin: 0;
    padding: $modal-padding;
  }//modal titles

  h2 { font-weight: $font-weight-normal; }

  .close-reveal-modal {
    @include transition(color .25s ease-in-out);

    &:hover { color: $primary-color; }
  }//close btn

  @media #{$medium-up} {
    max-width: rem-calc(600);

    .close-reveal-modal {
      color: $white;
      right: - $modal-close-offset;
      top: - $modal-close-offset;
    }//close btn
  }//medium up

  @media #{ $small-only } {
    @include border-radius(0);
    height: 100%;
    top: 0;
  }

  .disclaimer { font-style: italic; }

  .show-project-data {
    background-color: $black-10;
    max-height: rem-calc(242);
    overflow: hidden;
  }

  .modal-footer {
    border-top: 1px solid $black-20;
    padding: $modal-close-offset $modal-sides-padding 0;
    text-align: center;
  }
}//reveal modal
