// NEW PROJECT MODALS
// - - - - - - - - - - - - - - - - - - - - - - - - -

#project-modal {
  .project-name {
    font-size: rem-calc(14);
    margin: rem-calc(35) auto;
    text-align: center;

    @include input-placeholder { font-size: rem-calc(14); }
  }//project name input
}//project modal
