// DASHBOARD
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Dashboard header
// - - - - - - - - - - -
$search-width: rem-calc(300);

.dashboard-header {
  @include clearfix;

  input,
  li,
  .recent-link { font-size: rem-calc(14); }

  .search-bar {
    position: relative;

    .icn-search {
      left: rem-calc(25);
      position: absolute;
      top: rem-calc(10);
    }

    input {
      background-color: $transparent;
      border: 0;
      border-bottom: 1px solid $black-10;
      margin-bottom: 0;
      max-width: $search-width;
      padding-left: rem-calc(40);
      @include input-placeholder { color: $black-60; }

      @media #{$small-only} { max-width: 100%; }
    } // search input

    .input-icon {
      left: rem-calc(30);
      position: absolute;
      top: rem-calc(15);
    } // icon
  }//dashboard header

  .right-search-content {
    .recent-link {
      @include inline-block;

      select {
        background: transparent right bottom rem-calc(15) image-url('icons/arrow-dropdown.png')  no-repeat;
        border: 0;
        color: $black-50;
        cursor: pointer;
        font-size: rem-calc(14);
        height: auto;
        margin: rem-calc(10 0 0 0);
        min-width: rem-calc(110);
      } // recent
    }

    .create-project { float: right; }

    @media #{$small-only} { margin-top: rem-calc(20); }
  }// right-search-content
}// dashboard header

// Search Filter Widget
// - - - - - - - - - - - - - - - - - - -
.ui-autocomplete {
  @include opacity(1);
  background-color: $dashboard-hover-color;
  max-height: rem-calc(230);
  overflow: scroll;
  padding-left: 0;
  width: $search-width;
  z-index: 10;

  @media #{$small-only} { width: calc(100% - #{$column-gutter}) / 2; }

  li {
    border-top: 1px solid $black-30;
    color: $black-70;
    font-size: rem-calc(14);
    padding: rem-calc(20 0 20 40);

    &:hover {
      background-color: $black-10;
      border-top: 1px solid $black-10;

      +li { border-top: 1px solid $black-10; }
    } // hover
  } // project list result
} // project searchbar

// Dashboard empty
// - - - - - - - - - - -
.no-projects {
  @include translateY(-50%);
  font-size: rem-calc(15);
  left: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 100%;

  .title {
    color: $primary-nav-color;
    font-size: rem-calc(19);
    font-weight: $font-weight-bold;
    margin-bottom: rem-calc(5);
  }

  p {
    color: $black-30;
    font-size: rem-calc(15);
    margin-bottom: rem-calc(30);
  }

  .button { display: inline; }
}// no projects block


// Dashboard with stories
// - - - - - - - - - - - - - - -
.project-list {
  $white-border: 1px solid $white;

  margin: rem-calc(40 0);

  .project,
  li { @include clearfix; }

  li {
    border-bottom: 1px solid $black-10;
    position: relative;

    .join-btn {
      display: none;
      margin: 0;
    }

    &:not(.favorite-project):not(.not-member) {
      .project,
      .actions,
      .deleter { background-color: $white; }

      &:hover {
        .favorite .icn-favorite-empty { @include inline-block; }
      }
    }//not favorite project entry

    &.not-member {
      &:hover {
        .join-btn { @include inline-block; }
      }
    }//project user is no member
  }//project li

  // Project link
  .project {
    border-bottom: $white-border;
    border-top: $white-border;
    display: block;
    padding: $block-padding;
    position: relative;

    .title {
      margin-bottom: rem-calc(5);
      width: 100%;
    }

    .last-update {
      color: $black-40;
      font-size: rem-calc(12);
      margin: 0;
    }

    .title,
    .last-update { line-height: 1; }

    &:hover .last-update { color: $light-blue; }
  }//project link

  //projects not set as favorite
  .common-projects-list {
    .actions,
    .deleter,
    .right {
      @include translateY(-50%);
      position: absolute;
      right: $block-padding;
      top: 50%;
    }
  }// regular project list

  // Favorite projects
  // - - - - - - - - - - - - - - - - -
  .favorites { margin-top: rem-calc(25); }//favorites list

  .favorite-project {
    border: 0;
    height: $block-min-height + $block-padding * 2;

    .project,
    .deleter {
      .left {
        @extend %data;

        .title { color: $header-font-color; }
      }//card info

      &.project { height: 100%; }
    }//project

    .right { [class^="icn-favorite"] { display: block; }}
  }//favorite-project
}//Dashboard with stories
