//   PROFILE VIEW
// - - - - - - - - - - - - - - - - - - - - - - - - -

$profile-margin: rem-calc(20);
$icon-dimension: rem-calc(30);
$avatar-dimension: rem-calc(150);

.section-profile {
  text-align: center;

  .user-description {
    margin: 0 auto;
    width: 57%;
  } // user bio

  .profile,
  .mail-title {
    color: $black-20;
    font-size: rem-calc(14);
    font-weight: $font-weight-normal;
    text-transform: uppercase;
  }

  .mail-title {
    font-size: rem-calc(12);
    margin-top: $profile-margin;
  }

  .user-mail {
    display: block;
    font-size: rem-calc(18);
  }

  .cancel-link {
    color: $canvas-color;
    display: block;
    font-size: rem-calc(12);
    margin-top: $profile-margin / 2;
  }

  .button { margin-top: $profile-margin * 2; }
} // profile section
