.no-projects {
  @include translateY(-50%);
  font-size: rem-calc(15);
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;

  .title {
    color: $primary-nav-color;
    font-size: rem-calc(19);
    font-weight: $font-weight-bold;
    margin-bottom: rem-calc(5);
  }

  p {
    color: $black-30;
    font-size: rem-calc(15);
    margin-bottom: rem-calc(30);
  }

  .button { display: inline; }
}

.project-list {
  margin: rem-calc(40 0);

  .icn-delete {
    font-size: rem-calc(13);
    line-height: rem-calc(25);
    vertical-align: top;
  }

  .project,
  li { @include clearfix; }

  li {
    border-bottom: 1px solid $black-30;
    overflow: hidden;
    position: relative;

    &:not(.favorite-project):hover {
      .project,
      .actions { background: $hover-items; }

      .title,
      .others,
      .last-update { color: $black; }

      .favorite .icn-favorite-empty { @include inline-block; }
    }

    &.favorite-project .favorite .icn-favorite-empty { @include inline-block; }
  }

  .project {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    display: block;
    padding: rem-calc(10 15);
    position: relative;

    .title {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(5);
      width: 100%;
    }

    .last-update {
      font-size: rem-calc(12);
      margin: 0;
    }

    .title,
    .last-update {
      color: $black-30;
      line-height: 1;
    }
  }

  .right {
    position: absolute;
    right: rem-calc(15);
    top: rem-calc(10);
    z-index: 99;

    .favorite,
    .others {
      color: $black-30;
      display: inline-block;
      font-size: rem-calc(18);
      line-height: rem-calc(35);
      margin: 0;
      z-index: 99;
    }
  }

  .actions,
  .deleter {
    background: $white;
    border-bottom: 1px solid $white;
    bottom: 0;
    display: none;
    height: calc(100% - 1px);
    min-width: rem-calc(100);
    padding: rem-calc(1 0);
    position: absolute;
    z-index: 999;

    &:hover { background-color: $hover-items; }

    a {
      @include translateY(-50%);
      @include inline-block;
      border: 0;
      position: relative;
      top: 50%;
    }

    &.visible {
      display: block;
      right: 0;
    }

    .delete-project,
    .copy-project {
      @include border-radius(100%);
      background-color: $black-10;
      float: right;
      font-size: rem-calc(13);
      height: rem-calc(25);
      line-height: rem-calc(27);
      margin-right: rem-calc(15);
      text-align: center;
      width: rem-calc(25);

      img {
        display: block;
        height: rem-calc(25);
        margin: 0;
        padding: rem-calc(6);
        width: rem-calc(25);
      }
    }

    .icn-favorite-empty {
      background-color: $black-10;
      display: block;
      margin-right: rem-calc(15);
    }
  }

  .deleter,
  .copier {
    background-color: $black-20;
    padding: rem-calc(1 15);
    z-index: 9999;

    &:hover { background-color: $black-20; }

    p,
    a {
      @include inline-block;
      @include translateY(0);
      color: $white;
      font-size: rem-calc(10);
      line-height: rem-calc(51);
      margin: 0;
      top: 0;
    }

    .cancel-btn {
      @include border-radius(rem-calc(3));
      background-color: $hover-items;
      color: $black;
      line-height: 1;
      margin: rem-calc(0 15 0 20);
      padding: rem-calc(8 6);
    }

    span {
      @include border-radius(100%);
      @include inline-block;
      background-color: $white;
      color: $black;
      font-size: rem-calc(13);
      height: rem-calc(25);
      margin: rem-calc(0 0 0 15);
      width: rem-calc(25);

      &::before {
        padding: rem-calc(6);
        vertical-align: middle;
      }
    }
  }

  .icn-favorite-empty {
    @include border-radius(100%);
    background-color: $white;
    color: $black;
    display: none;
    height: rem-calc(25);
    line-height: rem-calc(25);
    margin-right: rem-calc(5);
    text-align: center;
    width: rem-calc(25);
  }//icon

  .breaker {
    background-color: $white;
    color: $black-30;
    display: block;
    font-size: rem-calc(14);
    line-height: 1;
    margin: rem-calc(50) auto 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 15%;

    @media #{$small-only} { width: 40%; }
    @media #{$medium-only} { width: 20%; }

    &::after {
      border-bottom: 1px solid $black-30;
      content: '';
      height: 1px;
      position: absolute;
      right: -284%;
      top: rem-calc(6);
      width: 667%;
      z-index: -1;

      @media #{$small-only} {
        right: -75%;
        width: 245%;
      }

      @media #{$medium-only} {
        right: -200%;
        width: 500%;
      }
    }
  }
  //Favorite projects vew
  .favorite-project {
    border: 0;
    height: rem-calc(150);

    .project {
      @include border-radius(rem-calc(5));
      background-color: $black-10;
      border: 0;
      height: 100%;

      .left {
        bottom: rem-calc(15);
        position: absolute;
        width: calc(100% - 20px);

        .title {
          color: $black;
          font-size: rem-calc(18);
        }
      }
    }

    .right {
      right: rem-calc(20);
      top: rem-calc(5);
    }

    .actions {
      background-color: $black-10;
      border: 0;
      float: right;
      height: auto;
      margin-top: rem-calc(9);
      position: relative;
      text-align: right;

      .delete-project,
      .copy-project {
        @include translateY(0);
        background-color: $white;
        float: none;
        margin-right: rem-calc(10);

        .icn-copy {
          font-size: 14px;
          line-height: 25px;
        }
      }

      .favorite {
        @include translateY(0);
        margin-right: rem-calc(10);
      }
    }//actions

    .deleter {
      @include border-radius(rem-calc(5));
      border: 0;
      height: calc(100% - 20px);
      margin: rem-calc(0 10 0 0);
      padding: rem-calc(0 10);
      text-align: center;
      top: 0;
      width: calc(100% - 20px);

      .icn-delete {
        position: absolute;
        right: rem-calc(10);
        top: rem-calc(10);
      }

      p {
        font-size: rem-calc(10);
        line-height: 1;
        margin-top: rem-calc(50);
        width: 100%;

        &.title {
          color: $white;
          font-size: rem-calc(18);
          margin-top: rem-calc(10);
        }
      }

      a {
        line-height: 1;
        margin-top: rem-calc(8);
      }
    }//deleter

    .favorite {
      .icn-favorite {
        @include border-radius(100%);
        background-color: $white;
        color: $black;
        display: block;
        height: rem-calc(25);
        line-height: rem-calc(25);
        text-align: center;
        width: rem-calc(25);
      }
    }
  }//favorite-project
}

.favorites {
  margin-left: 0;
  margin-top: rem-calc(25);
  max-width: 100%;

  @media #{$medium-only} { padding: rem-calc(0 10); }
  @media #{$small-only} { padding: rem-calc(0 10); }
}
// Search bar

.dashboard-header {
  @include clearfix;
  // scss-lint:disable ImportantRule
  margin-top: rem-calc(50) !important;

  input,
  li,
  .recent-link { font-size: rem-calc(14); }

  .search-bar {
    @include scrollbars(.5em, $black-20);

    input {
      background-color: $white;
      border: 0;
      border-bottom: 1px solid $black-10;
      margin-bottom: 0;
      padding-left: rem-calc(40);
      width: rem-calc(325);
      @include input-placeholder { color: $black-60; }

      &:focus { background-color: $white; }

      &:hover,
      &:focus { +.collapse-project-list { display: block; } }
    } // search input

    .input-icon {
      left: rem-calc(30);
      position: absolute;
      top: rem-calc(15);
    } // icon
  }

  .collapse-project-list {
    @include clearfix;
    background-color: $hover-items;
    display: none;
    max-height: rem-calc(230);
    overflow-y: scroll;
    position: absolute;
    width: rem-calc(325);
    z-index: 10;

    li {
      @include ellipsis;
      border-bottom: 1px solid $black-10;
      padding: rem-calc(13 0 13 40);
      position: relative;

      &:last-child { border-bottom: 0; }

      &:hover { background-color: $black-10; }

      .icon {
        @include border-radius(100%);
        background-color: $white;
        height: rem-calc(24);
        left: rem-calc(9);
        padding: rem-calc(3);
        position: absolute;
        top: rem-calc(12);
        width: rem-calc(24);
      } // icon
    } // li
  } // collapse list

  .recent-link {
    text-align: right;

    a {
      color: $black-50;
      line-height: rem-calc(50);
    }
  } // recent

  .create-project {text-align: right; }

  .recent-link a,
  .create-project {
    @media #{$small-only} { margin-right: rem-calc(15);}
  }
} // dashboard header
