$release-plan-height-header: rem-calc(50);

.add-sprint-button-container {
  height: rem-calc(40);
  padding: rem-calc(10);
  text-align: right;
}

.release-plan-selected-row,
.release-plan-selected-column { background-color: rgba($success-color, .2); }

.release-plan-cell {
  background-color: $white;
  border: 1px solid $light-grey;
  color: $light-grey;
}

.release-plan-container {
  overflow-x: scroll;
  width: 100%;

  table {
    border-collapse: collapse;
    border-spacing: 0;

    td { @extend .release-plan-cell; }
    th { padding: rem-calc(10); }
  }

  .user-story-text {
    @extend .release-plan-cell;

    min-width: rem-calc(300);

    &.done-user-story-text { color: $success-color; }
  }

  .user-story-number {
    background-color: $light-grey;
    color: $white;
    height: 100%;
    min-width: rem-calc(30);
    text-align: center;
  }

  .user-story-status {
    padding: 0;
    text-align: center;

    .done,
    .wip,
    .planned,
    .carryover { border-bottom: 5px solid; }

    .done { border-color: $success-color; }
    .wip { border-color: $warning-color; }
    .planned { border-color: $light-grey; }
    .carryover { border-color: $alert-color; }

    .update-user-story-status {
      display: block;
      min-height: rem-calc(40);
      min-width: rem-calc(100);
      padding-top: rem-calc(10);
    }
  }

  .release-plan-header {
    background: $primary-nav-color;
    height: $release-plan-height-header;

    th { border: 1px solid $white; }

    .project-start-date,
    .sprint-title,
    .sprint-date {
      color: $white;
      min-width: rem-calc(100);
      text-transform: uppercase;
    }

    .project-start-date {
      min-width: rem-calc(400);
      padding-top: rem-calc(25);
    }

    .sprint-title,
    .sprint-date {
      text-align: center;

      &.current-sprint { color: $success-color; }
    }//.sprint-title

    .project-starting-date-form {
      @include inline-block;

      text-align: right;
      width: 70%;

      .starting-date-form-element,
      .starting-date-form-button {
        @extend .radius;
        @include inline-block;

        max-width: 23%;
      }

      .starting-date-form-element {
        padding: 0;
        text-align: center;
      }

      .starting-date-form-button {
        display: none;
        padding: rem-calc(14);
      }
    }
  }//.release-plan-header

  .release-plan-secondary-header {
    background: $primary-nav-color;
    height: $release-plan-height-header / 2;

    th { border: 1px solid $white; }

    .project-total-points {
      color: $white;
      min-width: rem-calc(400);
      text-transform: uppercase;
    }

    .sprint-points {
      color: $white;
      font-weight: 100;
      text-align: center;
      text-transform: uppercase;
    }
  }//.release-plan-secondary-header

  .release-plan-group-title {
    border-right-style: none;
    color: $success-color;
    font-weight: $font-weight-bold;
  }

  .release-plan-group-row {
    &:hover * { @extend .release-plan-selected-row; }
  }
}
