.slack-button {
  .configure-slack {
    > span {
      &:first-child {
        float: none;
      }
    }
  }

  .icn-slack {
    background: image-url('icons/slack-icon.png') no-repeat;
    background-size: 100%;
    height: rem-calc(20);
    width: rem-calc(20);
  }
}
