//   TEAMS VIEW
// - - - - - - - - - - - - - - - - - - - - - - - - -

.section-people {
  .button.add-team { float: right; }

  .teams-list {
    .block-wrapper {
      min-height: $block-min-height;
    }

    .block-wrapper:hover {
      &::after { height: $bottom-square-height + $block-padding / 2; }
    }//hover on team thumbnails

    .title {
      font-size: rem-calc(18);
      line-height: 1;
      margin-bottom: rem-calc(5);
      width: 100%;
    }//title

    .members-amount {
      color: $black-30;
      font-size: rem-calc(14);
      margin: 0;
    }//members amount
  }//teams list
}//section people
////// Team modal

#team-modal {
  .team-name {
    font-size: rem-calc(14);
    margin: rem-calc(35) auto rem-calc(10);
    text-align: center;

    @include input-placeholder { font-size: rem-calc(14); }

    &.errors { border-color: $alert-color; }
  }//project name input

  .new-team-errors {
    color: $alert-color;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(30);
  }
}//project modal
