///// Variables
$primary-nav-color: #22252e;
$secondary-nav-color: #282c37;
$hover-navigation: #30323b;
$hover-items: #f8f8f8;


///// Mixins
@mixin fake-border($height, $color: false, $left: false, $top: false, $right: false, $bottom: false) {
  &::before {
    @if $color == false { $color: $backlog-color; }
    @if $left { left: $left; }
    @if $top { top: $top; }
    @if $bottom { bottom: $bottom; }
    @if $right { right: $right; }

    @include background-image(linear-gradient(left, $color 0%, $color 100%));
    content: '';
    height: $height;
    position: absolute;
    width: 100%;
  }//before nav
}//mixing for creating a border

@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
} // appearance none mixin

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, $white, 50%)) {
  ::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  ::-webkit-scrollbar-thumb { background: $foreground-color; }
  ::-webkit-scrollbar-track { background: $background-color; }
}

@mixin center($x: default, $y: default) {
  position: absolute;
  @if ($x and $y) {
    @include transform(-50%, -50%);
    left: 50%;
    top: 50%;
  } @else if ($x) {
    @include transform(-50%, 0);
    left: 50%;
  } @else if ($y) {
    @include transform(0, -50%);
    top: 50%;
  }
}
/// utility calsses

.truncate {
  @include ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
