%table
  %tr
    %th Title
    %th
    %th
  - goals.each do |goal|
    %tr
      %td= goal.title
      %td= link_to t('edit'), edit_goal_path(goal)
      %td= link_to t('delete'), goal_path(goal), method: :delete
