- goals.each do |goal|
  .row
    = link_to goal_path(goal), title: 'Delete Goal', method: :delete do
      %span.icon-trash
    = link_to edit_goal_path(goal), title: 'Edit Goal', class: 'goal-title' do
      = goal.title
      %span.icon-check
      %span.icon-edit
