.archived-user-stories {
  margin-top: rem-calc(15);

  li {
    color: $lab-color;

    span {
      color: $black-40;
      margin-right: rem-calc(10);
    } // li span

    .restore-link {
      vertical-align: bottom;

      &:hover { opacity: .5; }
    } // restore link
  } // li

  p { font-weight: $font-weight-bold; }
}

.restore-link,
.archive-link {
  font-size: rem-calc(10);
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  // scss-lint:disable QualifyingElement
  input[type="checkbox"] {
    vertical-align: middle;
    width: rem-calc(13);
  } // checkbox archive
} // user story archived

.archive-link {
  opacity: 0;
  text-align: right;
}
