// --------------------------------------------------------
// BACKLOG SECTION
// --------------------------------------------------------

.backlog {
  .user-stories {
    border-right: 1px solid $black-10;
    color: $secondary-color;
    padding: rem-calc(0 0 20 0);

    ul { font-size: rem-calc(14); } // ul

    .user-story {
      border-bottom: 1px solid $black-10;
      padding: rem-calc(20 40 20 0);
      position: relative;

      .hover-options {
        @include opacity(0); // 0
        background-color: $black-10;
        border-left: 1px solid $black-20;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: rem-calc(40);

        &:hover { @include opacity(.8); }

        span { display: block; }
      }

      .icon-arrow.up,
      .icon-arrow.down {
        color: $black-40;
        font-size: rem-calc(13);
        position: absolute;
      }

      .icon-arrow.up {
        @include rotate(180deg);
        right: rem-calc(11);
        top: rem-calc(3);
      } // arrow up

      .icon-arrow.down {
        bottom: rem-calc(3);
        right: rem-calc(11);
      } // arrow down

      .center-icon {
        background-color: $white;
        padding: rem-calc (5 0);

        .icon-trash {
          @include translateY(-50%);
          position: absolute;
          right: rem-calc(11);
          top: 50%;
          vertical-align: middle;
        }
      }

      .number,
      .points {
        font-size: rem-calc(11);
        font-weight: 700;
      } // number

      .points {
        color: $success-color;
        text-transform: uppercase;
      }
    }

    .number {
      display: inline-block;

      &:after {
        color: $black-40;
        content: '\2022';
        font-size: rem-calc(15);
      } // after
    }

    .story-text { display: block; }

    .grey-prefix { color: $black-30; }

    .delete-story { float: right; }
  } // user stories

  .user-story-edit-form {
    padding: rem-calc(20 0 0 30);

    input {
      @include inline-block();
      background-color: transparent;
      border: 0;
      font-size: rem-calc(40);
      height: inherit;
      line-height: 1.5;
      margin: 0;
      vertical-align: baseline;

      &[type="submit"] { display: none; }
    }

    .user-story-priority {
      @include inline-block;
      vertical-align: baseline;

      p {
        @include inline-block;
        font-size: rem-calc(40);
        margin: 0;
        vertical-align: baseline;
      }
    }

    .new-story {
      // scss-lint:disable PlaceholderInExtend
      @extend .row;
      padding-left: rem-calc(15);
    }

    .icon-edit { display: none; }

    .role,
    .action,
    .result {
      font-family: $font-family-serif;
      padding: 0;

      @include input-placeholder { color: $secondary-color; }
    }

    .role {
      // scss-lint:disable PlaceholderInExtend
      @extend .large-12;
      input { width: 66%; }
    }

    .action {
      // scss-lint:disable PlaceholderInExtend
      @extend .large-12;
      input { width: 63%; }
    }

    .result {
      // scss-lint:disable PlaceholderInExtend
      @extend .large-12;

      input {
        // scss-lint:disable PlaceholderInExtend
        @extend .large-12;
        width: 60%;
      }
    }//result

    .story-title,
    .number {
      font-size: rem-calc(12);
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    .story-title { color: $black-40; }

    .number { color: $secondary-color; }

    label,
    .number { display: inline-block; }

    .user-story-input {
      color: $black-30;
      font-size: rem-calc(40);
      line-height: 1;

      label {
        color: $black-30;
        font-size: rem-calc(12);
        text-transform: uppercase;
        width: 100%;
      } // label
    } // user story inputs

    .estimation label,
    .priority label {
      border-top: 1px solid $black-10;
      margin-top: rem-calc(30);
      padding-top: rem-calc(20);
    }

    .estimation,
    .priority {
      padding: 0;

      select {
        background-color: $white;
        border-radius: $global-radius;
        color: $black-70;
        font-size: rem-calc(12);
        padding-left: rem-calc(15);
        text-transform: uppercase;
      }
    }

    .constraint-input { width: 70%; }

    .acceptance-criterion-form,
    .constraint-form {
      input {
        color: $secondary-color;
        font-size: rem-calc(16);
        padding-left: 0;
        @include input-placeholder { font-style: italic; };
      }

      .edit-constraint input {
        line-height: 1;
        width: auto;
      }

      .backlog-placeholder { width: 90%; }

      .bullet::before {
        color: $lab-color;
        content: '\2022';
        font-size: rem-calc(30);
        margin-right: rem-calc(5);
        vertical-align: middle;
      }

      .criterion-group {
        border-top: 1px solid $black-10;
        clear: both;
        color: $black-30;
        font-size: rem-calc(12);
        margin-top: rem-calc(15);
        padding-top: rem-calc(20);
        text-transform: uppercase;
        width: 100%;
      }
    } // acceptance criteria

    .epic {
      line-height: .4;
      padding: rem-calc(0 0 20);

      label {
        color: $black-70;
        font-size: rem-calc(12);
        margin-left: 0;
        vertical-align: baseline;
        width: auto;
      }
    }  // epic

    .estimation { padding-right: rem-calc(15); }
  } // user story edit form
} // backlog

.user-stories-preloader {
  display: none;
  padding-left: rem-calc(172);

  img {
    padding-bottom: rem-calc(25);
    padding-top: rem-calc(25);
    width: rem-calc(55);
  }//user-stories-preloader img
}
