// --------------------------------------------------------
// BACKLOG SECTION
// --------------------------------------------------------

.backlog.row {
  height: 100%;
  margin: 0;
  max-width: 100%;
  position: relative;

  .user-stories-list-container {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
  }

  .user-stories {
    color: $secondary-color;
    min-height: 100%;

    ul {
      font-size: rem-calc(14);
      overflow: hidden;

      &:last-child { border-bottom: 1px solid $black-10; }
    }

    .user-story {
      @include transition(background-color .25s ease-in);
      border-top: 1px solid $black-10;
      cursor: pointer;
      padding: rem-calc(20 45 20 15);
      position: relative;

      &:active   { @include grabbing-cursor; }
      &.selected { background-color: rgba($black, .05); }

      &:hover .hover-options { @include opacity(1); }

      .number,
      .points {
        font-size: rem-calc(11);
        font-weight: 700;
      } // number

      .points {
        color: $success-color;
        margin-right: rem-calc(5);
        text-transform: uppercase;
      }
    }

    .number {
      display: inline-block;

      &:after {
        color: $black-40;
        content: '\2022';
        font-size: rem-calc(15);
      } // after
    }

    .story-text {
      display: block;
      margin-top: rem-calc(3);
    }

    .grey-prefix { color: $black-30; }

    .delete-story { float: right; }
  } // user stories

  .hover-options {
    @include transition(opacity .25s ease-in);
    @include opacity(0);
    background-color: $black-10;
    border-left: 1px solid $black-20;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: rem-calc(40);

    span {
      @include transition(color .25s ease-in);
      bottom: 0;
      color: $black-40;
      display: block;
      font-size: rem-calc(13);
      height: 33.33%;
      position: absolute;
      right: 0;
      width: 100%;

      &:hover { color: $lab-color; }

      &::before {
        @include translate(-50%, -50%);
        left: 50%;
        position: absolute;
        top: 50%;
      }

      &.icon-arrow.up,
      &.icon-arrow.down {
        @include grab-cursor;

        &:active { @include grabbing-cursor; }
      }

      &.icon-arrow.up {
        @include rotate(180deg);
        bottom: auto;
        top: 0;
      } // arrow up
    }

    .center-icon {
      cursor: pointer;

      .icon-trash {
        @include translateY(-50%);
        background-color: $white;
        bottom: auto;
        color: $secondary-color;
        padding: rem-calc(8 0);
        text-align: center;
        top: 50%;
        width: 100%;
      }

      &:hover .icon-trash { color: $canvas-color; }
    }
  }

  .user-story-edit-form {
    border-left: 1px solid $black-10;
    height: 100%;
    overflow-y: auto;
    padding: rem-calc(20 20 0 20);

    &.full-width {
      border: 0;
      width: 100%;
    }

    input {
      @include inline-block();
      background-color: transparent;
      border: 0;
      height: inherit;
      line-height: 1.5;
      margin: 0;
      vertical-align: baseline;

      &[type="submit"] { display: none; }
    }

    .user-story-priority {
      @include inline-block;
      vertical-align: baseline;

      p {
        @include inline-block;
        font-size: rem-calc(40);
        margin: 0;
        vertical-align: baseline;
      }
    }

    .new-story,
    .edit-story {
      // scss-lint:disable PlaceholderInExtend
      @extend .row;
      padding: rem-calc(0 30);
    }

    .icon-edit { display: none; }

    .role,
    .action,
    .result {
      font-family: $font-family-serif;
      padding: 0;

      @include input-placeholder { color: $secondary-color; }
    }

    .story-title,
    .number {
      font-size: rem-calc(12);
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    .story-title { color: $black-40; }

    .number { color: $secondary-color; }

    label,
    .number { display: inline-block; }

    .preview {
      display: inline;

      span {
        font-size: rem-calc(27);
      }
    }

    .user-story-input {
      color: $black-30;
      display: inline;
      font-size: rem-calc(27);
      line-height: rem-calc(40);
      max-width: 100%;

      label {
        color: $black-30;
        font-size: rem-calc(12);
        text-transform: uppercase;
        width: 100%;
      } // label

      p,
      input {
        display: inline;
        font-size: rem-calc(27);
      }

      input {
        @include ellipsis;
        max-width: 100%;
        min-width: rem-calc(205);
        width: rem-calc(205);

        &.dynamic { min-width: 0; }
      }

      span {
        @include transition(color .25s ease-in);
        color: rgba($black, .75);

        &:hover {
          color: $black-30;
          cursor: pointer;
        }
      }

      &.role input {
        min-width: rem-calc(174);
        width: rem-calc(174);

        &.dynamic { min-width: 0; }
      }

      &.role,
      &.action,
      &.result {
        width: auto;
      }
    } // user story inputs

    .estimation label,
    .priority label {
      border-top: 1px solid $black-10;
      margin-top: rem-calc(30);
      padding-top: rem-calc(20);
    }
  } // user story edit form

  .edit-backlog-inputs:hover .icon-trash { @include opacity(1); }

  .edit-backlog-inputs {
    padding-left: rem-calc(15);
    position: relative;

    a {
      .icon-trash {
        @include opacity(0);
        @include transition(color .25s ease-in, opacity .25s ease-in);
        position: absolute;
        right: 0;
        top: rem-calc(1);
        z-index: 99;
      }

      &:hover {
        .icon-trash { color: $black-40; }

        + form .bullet::before { color: $black-40; }
        + form .backlog-placeholder { color: $black-40; }
      }
    }
  }

  .constraint-input,
  .backlog-placeholder {
    @include transition(color .25s ease-in);
    padding-left: 0;
    width: 90%;
  }

  .acceptance-criterion-form,
  .constraint-form {
    margin-bottom: rem-calc(5);

    form { position: relative; }

    input {
      color: $secondary-color;
      font-size: rem-calc(14);
      padding-left: 0;
      @include input-placeholder { font-style: italic; };
    }

    textarea {
      background-color: $white;
      border: 0;
      color: $black-90;
      display: inline-block;
      font-size: rem-calc(14);
      line-height: 1.4;
      margin-bottom: 0;
      padding: 0;
      resize: none;
    }

    .edit-constraint input {
      line-height: 1;
      width: auto;
    }

    .bullet::before {
      @include transition(color .25s ease-in);
      color: $lab-color;
      content: '\2022';
      font-size: rem-calc(30);
      left: rem-calc(-15);
      margin-right: rem-calc(5);
      position: absolute;
      top: rem-calc(-2);
    }
  } // acceptance criteria

  .criterion-group {
    border-top: 1px solid $black-10;
    clear: both;
    color: $black-30;
    font-size: rem-calc(12);
    margin-top: rem-calc(15);
    padding-top: rem-calc(20);
    text-transform: uppercase;
    width: 100%;
  }

  .estimation { padding-right: rem-calc(15); }
} // backlog

.backlog-placeholder {
  margin-bottom: rem-calc(20);
  padding-left: 0;

  @include input-placeholder {
    color: $black-40;
    font-size: rem-calc(15);
    font-style: italic;
    line-height: .8;
    padding: rem-calc(5 0);
  };
} // backlog placeholders

.user-story-component-error { display: none; }

.estimation,
.priority,
.destination-select {
  padding: 0;

  select {
    background-color: $white;
    border-radius: $global-radius;
    color: $black-70;
    font-size: rem-calc(12);
    padding-left: rem-calc(15);
    text-transform: uppercase;
  }
}

.user-stories-preloader {
  display: none;
  padding-left: rem-calc(172);

  img {
    padding-bottom: rem-calc(25);
    padding-top: rem-calc(25);
    width: rem-calc(55);
  }//user-stories-preloader img
}

// --------------------------------------------------------
// COPY USER STORIES
// --------------------------------------------------------

.copy-stories-lnk,
.copy-story-check-box,
.copy-stories-error,
.copy-stories-success { display: none; }

.new-icon { padding-bottom: rem-calc(2); }

.copy-stories-modal {
  max-width: 35%;
  padding-bottom: rem-calc(40);

  @media #{$small-only} { max-width: none; }

  .close-reveal-modal {
    font-size: rem-calc(20);
    right: rem-calc(14);
  }

  .uppercase-subtitle { margin: rem-calc(15 0 5 0); }
}

.copy-story-check-box { line-height: 1; }

// --------------------------------------------------------
// USER STORY TAGS
// --------------------------------------------------------

.user-story-tag {
  display: inline-block;
  margin-right: rem-calc(10);
}

.story-tags span {
  @include border-radius(rem-calc(50));
  background-color: $lab-color;
  font-size: rem-calc(8);
  margin-right: rem-calc(3);
  padding-top: rem-calc(5);
  text-transform: uppercase;
}

// --------------------------------------------------------
// TAGS FILTER
// --------------------------------------------------------

.ui-autocomplete {
  @include opacity(.9);
  background-color: $white;
  border: 1px solid $black-20;
  color: $black-60;
  cursor: pointer;
  max-height: rem-calc(130);
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: rem-calc(10);
  width: 30%;

  .ui-menu-item:hover { color: $black-90; }
}

.ui-helper-hidden-accessible { display: none; }

.applied-filters {
  display: none;
  margin-right: rem-calc(15);

  li { display: inline-block; }
} // applied filters

.user-stories-filter {
  margin: rem-calc(15 15 0 0);

  input {
    border-radius: $global-radius;
    font-size: rem-calc(15);
    margin-bottom: rem-calc(5);
    padding-left: rem-calc(10);
  }
}

.applied-tag label {
  color: $black-60;
  display: inline-block;
  font-size: rem-calc(11);
  margin-left: rem-calc(5);
  text-transform: uppercase;

  &:before {
    @include border-radius(rem-calc(100));
    background-color: $black-30;
    color: $white;
    content: 'x';
    display: inline-block;
    font-size: rem-calc(8);
    height: rem-calc(14);
    margin-right: rem-calc(3);
    padding: rem-calc(2 4);
    vertical-align: top;
  }

  &:hover { @include opacity(.9); }
}

// --------------------------------------------------------
//  TOTAL STORY POINTS
// --------------------------------------------------------

.total-points {
  color: $lab-color;
  font-size: rem-calc(14);
  font-weight: $font-weight-bold;
  padding: rem-calc(10 0 10 15);
  text-transform: uppercase;

  p {
    color: $black;
    display: inline-block;
    font-size: rem-calc(13);
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }
} // total points
