// --------------------------------------------------------
// BASE STYLES
// --------------------------------------------------------


//------- variables ------ //

$primary: #282c37;
$secondary: #252525;
$canvas-color: #e62940;
$lab-color: #4ba4f6;
$backlog-color: #2ecc71;
$light-bg: #fbfbfb;

// Grayscale
$black-10:  darken(#fff, 10%) !default;
$black-20:  darken(#fff, 20%) !default;
$black-30:  darken(#fff, 30%) !default;
$black-40:  darken(#fff, 40%) !default;
$black-50:  darken(#fff, 50%) !default;
$black-60:  darken(#fff, 60%) !default;
$black-70:  darken(#fff, 70%) !default;
$black-80:  darken(#fff, 80%) !default;
$black-90:  darken(#fff, 90%) !default;
