// --------------------------------------------------------
// BASE STYLES
// --------------------------------------------------------


// -------  color variables ------ //

$primary: #282c37; // dark blue
$secondary: #252525; // text color
$canvas-color: #e62940; // red
$lab-color: #4ba4f6;  // cyan
$backlog-color: #2ecc71; // green
$light-bg: #fbfbfb;

// Grayscale
$black-10:  darken(#fff, 10%) !default;
$black-20:  darken(#fff, 20%) !default;
$black-30:  darken(#fff, 30%) !default;
$black-40:  darken(#fff, 40%) !default;
$black-50:  darken(#fff, 50%) !default;
$black-60:  darken(#fff, 60%) !default;
$black-70:  darken(#fff, 70%) !default;
$black-80:  darken(#fff, 80%) !default;
$black-90:  darken(#fff, 90%) !default;

// -------  fonts ------ //

$font-base: "aktiv-grotesk-std", sans-serif;
$font-titles: Georgia, serif;
$font-thin: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-size: 16 !default;
