#canvas {
  margin: 0;

  .left-content-wrapper,
  .right-content-wrapper { padding-top: rem-calc(30); }

  .left-content-wrapper {
    border-right: 1px solid $black-10;

    .progress-bar {
      margin: rem-calc(20 0);

      .progress {
        @include border-radius($global-radius);
        background-color: $black-10;
        height: rem-calc(20);
        margin-bottom: 0;

        .meter {
          @include border-radius(3px);
          background-color: $success-color;
        } // completed percentage
      } // progress bar

      .percentage {
        color: $black-30;
        font-size: rem-calc(14);
      } // percentage number
    } // progress bar

    .canvas-item-list {
      margin-right: rem-calc(25);

      .canvas-item {
        @include single-transition(color, .25s, ease-in);
        border-bottom: 1px solid $black-10;
        color: $font-color-2;
        cursor: pointer;
        font-weight: $font-weight-bold;
        padding: rem-calc(12 0);

        &:hover { color: $black; }
      }

      .canvas-visited,
      .canvas-visited:hover { color: $success-color; }

      .done { background: rem-calc(425) image-url('icons/done-icon.png') no-repeat; }
    } // canvas ul
  } // left wrapper

  .segment-field { @include input-placeholder { font-style: italic; }; }

  .right-content-wrapper {
    padding-left: rem-calc(40);

    @media #{$small-only} { padding-left: 0; }
    @media #{$medium-only} { padding-left: 0; }

    .canvas-fields {
      @include opacity(0);
      @include single-transition(opacity, .5s, ease-in-out);
    }

    label {
      cursor: text;
      margin-bottom: rem-calc(15);
    }

    textarea {
      @include transition(box-shadow .25s, ease-in, height .15s, ease-in);
      @include border-radius($global-radius);
      background-color: $white;
      border-color: $white;
      font-size: rem-calc(14);
      max-height: rem-calc(520);
      min-height: rem-calc(50);
      resize: none;

      &:focus {
        @include box-shadow(0 0 5px 0 $success-color);
        border-color: $success-color;

        + .enter { display: block; }
      }
    }

    .enter {
      color: $font-color-3;
      display: none;
      font-size: rem-calc(10);
      font-weight: $font-weight-normal;
      margin-bottom: rem-calc(15);
      text-align: right;
    }
  } // right content
} // canvas
