// --------------------------------------------------------
//  CREATE PROJECTS
// --------------------------------------------------------

#new-project {
  margin-top: rem-calc(150);
  text-align: center;

  p { color: $black-30; }

  .button { width: 60%; }
} // new project

#project-info {
  margin-top: rem-calc(150);

  #members {
    label {
      font-weight: $font-weight-normal;
      padding-bottom: rem-calc(10);
      text-transform: uppercase;
    }

    .button {
      background-color: $white;
      border: 1px solid $primary-color;
      color: $primary-color;
    }

    .member { background: rem-calc(17) image_url('icons/mail-icon.png') no-repeat; }
  }
} // project info
