@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?q5vjf');
	src:url('fonts/icomoon.eot?#iefixq5vjf') format('embedded-opentype'),
		url('fonts/icomoon.ttf?q5vjf') format('truetype'),
		url('fonts/icomoon.woff?q5vjf') format('woff'),
		url('fonts/icomoon.svg?q5vjf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-activity .path1:before {
	content: "\e600";
	color: rgb(46, 204, 113);
}
.icon-activity .path2:before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-arrow .path1:before {
	content: "\e602";
	color: rgb(79, 186, 111);
}
.icon-arrow .path2:before {
	content: "\e603";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-backlog .path1:before {
	content: "\e604";
	color: rgb(126, 128, 135);
}
.icon-backlog .path2:before {
	content: "\e605";
	margin-left: -0.994140625em;
	color: rgb(46, 204, 113);
}
.icon-backlog .path3:before {
	content: "\e606";
	margin-left: -0.994140625em;
	color: rgb(126, 128, 135);
}
.icon-backlog .path4:before {
	content: "\e607";
	margin-left: -0.994140625em;
	color: rgb(126, 128, 135);
}
.icon-backlog .path5:before {
	content: "\e608";
	margin-left: -0.994140625em;
	color: rgb(46, 204, 113);
}
.icon-backlog .path6:before {
	content: "\e609";
	margin-left: -0.994140625em;
	color: rgb(46, 204, 113);
}
.icon-backlog .path7:before {
	content: "\e60a";
	margin-left: -0.994140625em;
	color: rgb(126, 128, 135);
}
.icon-canvas .path1:before {
	content: "\e60b";
	color: rgb(46, 204, 113);
}
.icon-canvas .path2:before {
	content: "\e60c";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-canvas .path3:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(46, 204, 113);
}
.icon-canvas .path4:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-canvas .path5:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(46, 204, 113);
}
.icon-canvas .path6:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-changelog .path1:before {
	content: "\e611";
	color: rgb(41, 44, 56);
}
.icon-changelog .path2:before {
	content: "\e612";
	margin-left: -1em;
	color: rgb(79, 186, 110);
}
.icon-changelog .path3:before {
	content: "\e613";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-changelog .path4:before {
	content: "\e614";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-collapse-backlog .path1:before {
	content: "\e615";
	color: rgb(41, 44, 56);
}
.icon-collapse-backlog .path2:before {
	content: "\e616";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-collapse-backlog .path3:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-collapse-backlog .path4:before {
	content: "\e618";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-collapse-sidebar:before {
	content: "\e619";
}
.icon-delete .path1:before {
	content: "\e61a";
	color: rgb(41, 44, 56);
}
.icon-delete .path2:before {
	content: "\e61b";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-delete .path3:before {
	content: "\e61c";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-delete .path4:before {
	content: "\e61d";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-delete .path5:before {
	content: "\e61e";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-export .path1:before {
	content: "\e61f";
	color: rgb(41, 44, 56);
}
.icon-export .path2:before {
	content: "\e620";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-export .path3:before {
	content: "\e621";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-export .path4:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-lab .path1:before {
	content: "\e623";
	color: rgb(126, 128, 135);
}
.icon-lab .path2:before {
	content: "\e624";
	margin-left: -1em;
	color: rgb(46, 204, 113);
}
.icon-lab .path3:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(46, 204, 113);
}
.icon-lab .path4:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-links .path1:before {
	content: "\e627";
	color: rgb(46, 204, 113);
}
.icon-links .path2:before {
	content: "\e628";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-links .path3:before {
	content: "\e629";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-logout .path1:before {
	content: "\e62a";
	color: rgb(41, 44, 56);
}
.icon-logout .path2:before {
	content: "\e62b";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-mail .path1:before {
	content: "\e62c";
	color: rgb(126, 128, 135);
}
.icon-mail .path2:before {
	content: "\e62d";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-mail .path3:before {
	content: "\e62e";
	margin-left: -1em;
	color: rgb(40, 44, 55);
}
.icon-members .path1:before {
	content: "\e62f";
	color: rgb(46, 204, 113);
}
.icon-members .path2:before {
	content: "\e630";
	margin-left: -1em;
	color: rgb(46, 204, 113);
}
.icon-members .path3:before {
	content: "\e631";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-members .path4:before {
	content: "\e632";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-password .path1:before {
	content: "\e633";
	color: rgb(126, 128, 135);
}
.icon-password .path2:before {
	content: "\e634";
	margin-left: -1em;
	color: rgb(40, 44, 55);
}
.icon-password .path3:before {
	content: "\e635";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-print .path1:before {
	content: "\e636";
	color: rgb(41, 44, 56);
}
.icon-print .path2:before {
	content: "\e637";
	margin-left: -1em;
	color: rgb(41, 44, 56);
}
.icon-print .path3:before {
	content: "\e638";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-print .path4:before {
	content: "\e639";
	margin-left: -1em;
	color: rgb(79, 186, 111);
}
.icon-user .path1:before {
	content: "\e63a";
	color: rgb(126, 128, 135);
}
.icon-user .path2:before {
	content: "\e63b";
	margin-left: -1em;
	color: rgb(126, 128, 135);
}
.icon-user .path3:before {
	content: "\e63c";
	margin-left: -1em;
	color: rgb(40, 44, 55);
}
