// --------------------------------------------------------
// INVITE MEMBERS
// --------------------------------------------------------

.projects {
  label {
    cursor: default;
    margin-bottom: rem-calc(5);
    text-transform: uppercase;
  }

  .user-info {
    border: 1px solid $black-10;
    border-radius: $global-radius;
    height: rem-calc(45);
    margin-bottom: rem-calc(20);
    padding: rem-calc(10 20);

    img {
      margin-right: 10px;
      padding-bottom: rem-calc(2);
    } // img

    .user-mail {
      display: inline-block;

      &::before {
        color: $success-color;
        content: '\2022';
        padding: rem-calc(0 5);
      }
    }
  } // user name & mail

  .delete-project {
    @include single-transition(color, .25s, ease-in);

    &:hover { color: $canvas-color; }

    span {
      float: left;
      margin-right: rem-calc(10);
    }
  }
} // invite members
