// --------------------------------------------------------
// LABS SECTION
// --------------------------------------------------------

// HYPOTHESIS
// --------------------------------------------------------
.value-prop {
  padding: rem-calc(20 0 0 20);
  width: 80%;

  .title-value-proposition {
    display: inline-block;
    padding: 0;
  }

  .hollow-btn {
    float: right;
    width: auto;
  }

  .hypotheses-value-proposition {
    display: none;
    width: 80%;
  }

  input { @include border-radius($global-radius); }
}

.ui-sortable-handle {
  @include grab-cursor;

  &.ui-sortable-helper {
    @include box-shadow(rem-calc(3) rem-calc(3) rem-calc(6) rgba($black, .3));
    @include radius($global-radius);
    @include grabbing-cursor;
    background-color: rgba($white, .9);
    border: 1px solid $border-color;
    padding: rem-calc(20);
    z-index: 10;
  }
}

.hypothesis {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  clear: both;
  color: $font-color-3;
  margin: rem-calc(0 20);
  padding: rem-calc(20);

  .hypothesis-form:hover .description .icon-trash { @include opacity(1); }

  span {
    @include transition(opacity .25s ease-in, color .25s ease-in);
    left: 0;
    position: absolute;
    top: rem-calc(7);

    &::before {
      letter-spacing: 3px;
      text-indent: rem-calc(1);
      vertical-align: middle;
    }

    &.icon-trash {
      @include opacity(0);
      left: auto;
      right: 0;
      z-index: 2;

      &:hover { color: $canvas-color; }
    }

    &.bullet {
      top: 0;
      z-index: 1;

      &::before {
        @include single-transition(color, .25s, ease-in);
        color: $lab-color;
        content: '\2022';
        font-size: rem-calc(30);
        margin-right: rem-calc(5);
        vertical-align: middle;
      }
    }
  }

  label {
    display: inline-block;
    font-size: rem-calc(14);
    line-height: rem-calc(43);
    width: auto;
  }

  input,
  select,
  .goal-title {
    @include single-transition(color, .25s, ease-in);
    background-color: $transparent;
    border: 0;
    display: inline-block;
    font-size: rem-calc(14);
    font-weight: $font-weight-normal;
    height: rem-calc(40);
    outline: 0;
    padding: rem-calc(9 9 9 24);
    position: relative;
    vertical-align: bottom;
    width: 70%;
    z-index: 1;

    &.hide { display: none; }

    &:-webkit-autofill { @include box-shadow(0 0 0 rem-calc(1000) $white inset); }
  }

  input {
    +.icon-plus +.icon-check { @include opacity(0); }

    &:hover,
    &:focus {
      background-color: $transparent;
      z-index: 0;

      +.icon-plus {
        @include opacity(0);

        +.icon-check { @include opacity(1); }
      }
    }

    &:focus +.icon-plus +.icon-check { color: $lab-color; }
  }

  .enter,
  .click-edit {
    color: $font-color-3;
    display: none;
    font-size: rem-calc(10);
    font-weight: $font-weight-normal;
    vertical-align: middle;
  }

  .enter { vertical-align: top; }

  .row {
    max-width: 100%;
    position: relative;

    &.editing {
      .enter { display: inline-block; }
      .epic span { @include opacity(1); }
      .user-story-input { font-weight: $font-weight-bold; }
      .new-story .epic label::before { border-color: $lab-color; }
    }
  }

  .goals,
  .stories {
    clear: both;
    font-size: rem-calc(14);
    padding-left: rem-calc(15);

    a:hover +.goal-title {
      color: $canvas-color;

      span {
        border-color: $canvas-color;
        color: $canvas-color;
      }
    }

    .row:hover .icon-trash { @include opacity(1); }
  }

  .goal-title {
    @include single-transition(color, .25s, ease-in);
    color: $font-color-2;

    .icon-edit { @include opacity(0); }
    .icon-check { color: $lab-color; }

    &:hover {
      color: $font-color-3;
      cursor: text;

      .icon-check { @include opacity(0); }

      .icon-edit {
        @include opacity(1);
        color: $lab-color;
      }
    }
  }

  .goal-item-editable {
    display: none;

    input {
      margin: 0;
      padding: rem-calc(0 0 15 0);
    }
  }

  .user-story-list-empty {
    min-height: 5px;
  }

  .new-user-story {
    display: block;
    padding: rem-calc(0 24);

    &.ui-sortable-helper {
      padding: rem-calc(0 20 0 40);

      .epic {
        left: rem-calc(10);

        span { @include opacity(0); }
      }

      .icon-trash { right: rem-calc(10); }
    }

    a:hover +.edit-story {
      span,
      input,
      .user-story-input {
        color: $canvas-color;

        &.epic input:checked +label::before {
          background-color: $canvas-color;
          border-color: $canvas-color;
        }

        &.epic input +label::before { border-color: $canvas-color; }
      }
    }

    .icon-edit {
      @include opacity(0);
      color: $lab-color;
      top: rem-calc(7);
    }

    .edit-story,
    .new-story {
      @include clearfix;
      padding: rem-calc(8 0);
    }

    .new-story .epic label::before {
      @include grab-cursor;
      border-color: $font-color-3;
    }

    .user-story-input {
      @include single-transition(color, .25s, ease-in);
      color: $font-color-2;
      display: inline;
      padding: 0;
      width: auto;

      input {
        color: $font-color-2;
        font-style: italic;
        height: rem-calc(20);
        margin: 0;
        max-width: none;
        min-width: 0;
        padding: 0;
        vertical-align: baseline;
        width: rem-calc(110);

        &:hover,
        &:focus { color: $font-color-3; }

        &:focus { min-width: rem-calc(110); }
      }

      &.role input {
        width: rem-calc(95);

        &:focus { min-width: rem-calc(95); }
      }

      .user-story-priority { display: inline; }
    }
  }

  .description,
  .description-error {
    color: $font-color-2;
    font-size: rem-calc(15);
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    padding: rem-calc(0 0 10 15);
    position: relative;

    .hypothesis-title {
      @include single-transition(color, .25s, ease-in);
      cursor: text;

      &:hover { color: $font-color-3; }

      .hypothesis-title-field {
        margin-bottom: 0;
        padding: rem-calc(0 0 15 0);
      }
    }

    a:hover +.hypothesis-title {
      color: $canvas-color;

      span::before { color: $canvas-color; }
    }
  }//description

  .delete-hypothesis span {
    float: right;
    font-size: rem-calc(16);
    margin-top: 0;
  }

  .epic {
    left: rem-calc(1);
    position: absolute;
    top: rem-calc(14);

    span {
      @include opacity(0);
      color: $lab-color;
      font-weight: $font-weight-normal;
      left: rem-calc(-38);
      text-transform: uppercase;
      top: rem-calc(-6);
    }

    input {
      display: none;

      +label {
        cursor: pointer;
        font-size: rem-calc(4);
        margin: 0;
        padding: 0;
        position: relative;
        vertical-align: top;
        width: rem-calc(22);

        &::before {
          @include transition(background-color .25s ease-in, border-color .25s ease-in);
          @include border-radius(rem-calc(2));
          border: 2px solid $lab-color;
          content: '';
          height: rem-calc(12);
          left: 0;
          position: absolute;
          top: 0;
          width: rem-calc(12);
        }

        &::after {
          @include transition(all .2s);
          @include opacity(0);
          @include scale(0);
          color: $white;
          content: '✔';
          font-size: rem-calc(4);
          left: rem-calc(4);
          line-height: 0;
          position: absolute;
          top: rem-calc(7);
        }
      }

      &:checked + label {
        &::after {
          @include opacity(1);
          @include scale(1.8, 2);
        }

        &::before { background-color: $lab-color; }
      }

      &:checked:disabled + label:after { color: $black-70; }
    }
  }
}// hypothesis item

.hypothesis-new {

  .hypothesis {
    border: 0;

    .bullet { top: rem-calc(-2); }
  }

  input,
  select {
    display: block;
    padding: rem-calc(0 0 0 15);
  }

  select {
    color: $font-color-2;
    height: auto;
  }

  .description {
    height: rem-calc(29);

    @include input-placeholder {
      font-size: rem-calc(13);
      font-style: italic;
    }
  } // description

  .description-error { color: $canvas-color; }

}//hypothesis new

.hypothesis-edit { display: none; }

.success-items {
  position: relative;
  top: rem-calc(-5);

  .radio-btn {
    display: inline-block;
    padding: 0;

    input {
      display: none;

      +label {
        @include border-radius(50px);
        border: 2px solid $black-20;
        color: $black-20;
        font-size: rem-calc(8);
        font-weight: $font-weight-bold;
        line-height: normal;
        margin: rem-calc(0 5 0 0);
        padding: rem-calc(3 7);
        text-transform: uppercase;

        &:hover {
          border-color: $lab-color;
          color: $lab-color;
        } // label hover
      } // label

      &:checked + label {
        background-color: $lab-color;
        border-color: $lab-color;
        color: $white;
      } // checked
    } // input
  } // radio btn
} // success items

.hypothesis-new,
.hypothesis-type-edit {
  padding-left: 0;

  select {
    @include transition(none);
    @include border-radius(rem-calc(50));
    background-image: none;
    cursor: pointer;
    font-size: rem-calc(9);
    height: rem-calc(20);
    margin-bottom: rem-calc(5);
    padding: rem-calc(0 9 0 10);
    text-transform: uppercase;
    vertical-align: baseline;
    width: auto;

    &.edit-type {
      background-color: $lab-color;
      border: 0;
      color: $white;
    }

    &.empty {
      background-color: $transparent;
      border: 1px solid $font-color-3;
      color: $font-color-3;
    }

    &:hover + .click-edit { display: inline-block; }
  }

  .dynamic-width {
    display: none;
    font-size: rem-calc(9);
    text-transform: uppercase;
  }
}// hypothesis edit

#log-modal.reveal-modal {
  height: 60%;
  overflow-y: scroll;
}// log-modal.reveal-modal

.hypothesis-preloader {
  display: none;

  img {
    display: block;
    margin: auto;
    padding-bottom: rem-calc(25);
    padding-top: rem-calc(25);
    width: rem-calc(55);
  }//hypothesis-preloader img
}//hypothesis-preloader
