// --------------------------------------------------------
// LABS SECTION
// --------------------------------------------------------

// HYPOTHESIS
// --------------------------------------------------------
.value-prop {
  padding: rem-calc(20);

  .title-value-proposition { padding: 0; }

  .hypotheses-value-proposition {
    display: none;
    width: 80%;
  }

  input { @include border-radius($global-radius); }
}

.new-hypothesis-btn {
  padding: rem-calc(20);
}

#hypotheses {
  padding: rem-calc(20);

  .hypothesis {
    border-bottom: 1px solid $border-color;
    clear: both;
    padding: rem-calc(20 0);

    .order {
      @include border-radius(100%);
      @include inline-block;
      background-color: $lab-color;
      color: $white;
      font-size: rem-calc(17);
      font-weight: $font-weight-light;
      height: rem-calc(29);
      line-height: 1.6;
      margin-right: rem-calc(14);
      text-align: center;
      vertical-align: top;
      width: rem-calc(29);
    }//order

    .content { @include inline-block; }

    .description,
    .description-error {
      color: $font-color-2;
      font-size: rem-calc(15);
      font-weight: $font-weight-bold;
    }//description

    .type {
      color: $font-color-3;
      display: block;
      font-size: rem-calc(12);
      text-transform: uppercase;
    }//type

    .new-epic .epic-input {
      font-size: rem-calc(13);
      padding: 0;

      input {
        @include ellipsis;
        background-color: $white;
        border: 0;
        display: inline-block;
        font-size: rem-calc(14);
        font-style: italic;
        vertical-align: baseline;
        width: 58%;
      }
    } // epics
  }// hypothesis item

  .hypothesis-new {
    .hypothesis { border: 0; }

    .content {
      width: calc(100% - 47px);

      // scss-lint:disable QualifyingElement
      input[type="text"],
      select {
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
      }//input text and select
    }//content

    .description {
      height: rem-calc(29);

      @include input-placeholder {
        font-size: rem-calc(13);
        font-style: italic;
      }//placeholder
    }//description

    .description-error {
      color: $canvas-color;
      font-size: rem-calc(16);
      height: rem-calc(18);
    }

    .type { width: inherit; }
  }//hypothesis new

  #hypothesis-tr {
    table {
      border-radius: $global-radius;
      margin: rem-calc(15 0);
      padding: rem-calc(5 10 10);

      td {
        color: $font-color-2;

        a {
          font-size: rem-calc(11);
          font-weight: bold;
          text-transform: uppercase;
        }
      } // td
    } // table
  } // hyp table
}//hypothesis section

#edit-epic {
  width: 50%;

  input {
    border-radius: $global-radius;
    width: 95%;
  }
} // edit epics
