// --------------------------------------------------------
// LABS SECTION
// --------------------------------------------------------

// HYPOTHESIS
// --------------------------------------------------------
.value-prop {
  padding: rem-calc(20);

  .title-value-proposition { padding: 0; }

  .hypotheses-value-proposition {
    display: none;
    width: 80%;
  }

  input { @include border-radius($global-radius); }
}

.ui-sortable-handle {
  @include grab-cursor;

  &.ui-sortable-helper {
    @include box-shadow(rem-calc(3) rem-calc(3) rem-calc(6) rgba($black, .3));
    @include radius($global-radius);
    @include grabbing-cursor;
    background-color: rgba($white, .9);
    border: 1px solid $border-color;
    padding: rem-calc(20);
  }
}

.hypothesis {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  clear: both;
  color: $font-color-3;
  margin: rem-calc(0 20);
  padding: rem-calc(20);

  &:hover .description .icon-trash { @include opacity(1); }

  span {
    @include transition(opacity .25s ease-in, color .25s ease-in);
    left: 0;
    position: absolute;
    top: rem-calc(7);

    &::before {
      letter-spacing: 3px;
      text-indent: rem-calc(1);
      vertical-align: middle;
    }

    &.icon-trash {
      @include opacity(0);
      left: auto;
      right: 0;
      z-index: 2;

      &:hover { color: $canvas-color; }
    }

    &.bullet {
      top: 0;
      z-index: 1;

      &::before {
        @include single-transition(color, .25s, ease-in);
        color: $lab-color;
        content: '\2022';
        font-size: rem-calc(30);
        margin-right: rem-calc(5);
        vertical-align: middle;
      }
    }
  }

  label {
    display: inline-block;
    font-size: rem-calc(14);
    line-height: rem-calc(43);
    width: auto;
  }

  input,
  select,
  .goal-title {
    @include single-transition(color, .25s, ease-in);
    background-color: $transparent;
    border: 0;
    display: inline-block;
    font-size: rem-calc(14);
    font-weight: $font-weight-normal;
    height: rem-calc(40);
    outline: 0;
    padding: rem-calc(9 9 9 24);
    position: relative;
    vertical-align: bottom;
    width: 70%;
    z-index: 1;

    &.hide { display: none; }

    &:-webkit-autofill { @include box-shadow(0 0 0 rem-calc(1000) $white inset); }
  }

  input {
    +.icon-plus +.icon-check { @include opacity(0); }

    &:hover,
    &:focus {
      background-color: $transparent;
      z-index: 0;

      +.icon-plus {
        @include opacity(0);

        +.icon-check { @include opacity(1); }
      }
    }

    &:focus +.icon-plus +.icon-check { color: $lab-color; }
  }

  .row {
    max-width: 100%;
    position: relative;
  }

  .goals,
  .stories {
    clear: both;
    font-size: rem-calc(14);
    padding-left: rem-calc(15);

    a:hover +.goal-title {
      color: $canvas-color;

      span {
        border-color: $canvas-color;
        color: $canvas-color;
      }
    }

    .row:hover .icon-trash { @include opacity(1); }
  }

  .goal-title {
    @include single-transition(color, .25s, ease-in);
    color: $font-color-2;

    .icon-edit { @include opacity(0); }
    .icon-check { color: $lab-color; }

    &:hover {
      color: $font-color-3;

      .icon-check { @include opacity(0); }

      .icon-edit {
        @include opacity(1);
        color: $lab-color;
      }
    }
  }

  .goal-item-editable {
    display: none;

    input {
      margin: 0;
      padding: rem-calc(0 0 15 0);
    }
  }

  .new-user-story {
    display: block;
    padding: rem-calc(0 0 0 24);

    &:hover {
      .edit-story .square    { @include opacity(0); }
      .edit-story .icon-edit { @include opacity(1); }
    }

    &.ui-sortable-helper {
      padding: rem-calc(0 20 0 40);

      .icon-edit { left: rem-calc(10); }
      .icon-trash { right: rem-calc(10); }
    }

    a:hover +.edit-story {
      span,
      input,
      .user-story-input { color: $canvas-color; }
    }

    .square {
      @include opacity(0);
      @include border-radius(rem-calc(2));
      background-color: $lab-color;
      color: $lab-color;
      height: rem-calc(12);
      margin-left: rem-calc(1);
      top: rem-calc(14);
      width: rem-calc(12);
    }

    .icon-edit {
      @include opacity(0);
      color: $lab-color;
      top: rem-calc(7);
    }

    .edit-story {

      .square { @include opacity(1); }

      .user-story-input {
        @include single-transition(color, .25s, ease-in);
        color: rgba($black, .75);
      }

      input {
        color: $font-color-2;
        margin: 0;
        padding: rem-calc(10 0);

        &:hover,
        &:focus { color: $font-color-3; }
      }
    }
  }

  .description,
  .description-error {
    color: $font-color-2;
    font-size: rem-calc(15);
    font-weight: $font-weight-bold;
    height: rem-calc(29);
    padding: rem-calc(0 0 0 15);
    position: relative;

    .hypothesis-title {
      @include single-transition(color, .25s, ease-in);

      .hypothesis-title-field {
        margin-bottom: 0;
        padding: rem-calc(0 0 15 0);
      }
    }

    .hypothesis-type-edit {
      padding-left: 0;

      .type {
        padding: 0;
        width: 16%;
      }
    }

    a:hover +.hypothesis-title {
      color: $canvas-color;

      span::before { color: $canvas-color; }
    }
  }//description

  .delete-hypothesis span {
    float: right;
    font-size: rem-calc(16);
    margin-top: 0;
  }

  .type {
    font-size: rem-calc(12);
    margin-bottom: rem-calc(10);
    text-transform: uppercase;
  }

  .user-story-input {
    color: $font-color-2;
    font-size: rem-calc(13);
    padding: 0;

    input {
      @include ellipsis;
      font-style: italic;
      padding: 0;
      vertical-align: baseline;
      width: 58%;
    }
  }
}// hypothesis item

.hypothesis-new {

  .hypothesis {
    border: 0;

    .bullet { top: rem-calc(2); }
  }

  input,
  select {
    display: block;
    padding: rem-calc(0 0 0 15);
  }

  select {
    color: $font-color-2;
    height: auto;
  }

  .description {
    height: rem-calc(29);

    @include input-placeholder {
      font-size: rem-calc(13);
      font-style: italic;
    }
  } // description

  .description-error { color: $canvas-color; }

  .type { width: inherit; }
}//hypothesis new

.hypothesis-edit {
  display: none;
}//hypothesis edit

.hypothesis-type-edit {
  display: none;
}//hypothesis edit
