// --------------------------------------------------------
// MAIN STYLES
// --------------------------------------------------------

body {
  padding: 0;
  font-family: $font-base;
  font-size: $font-size;
  color: $secondary;

  h1 {
    font-family: $font-titles;
    font-size: rem-calc(25);
    margin-bottom: rem-calc(20);
  }

  .btn {
    background-color: $backlog-color;
    font-size: rem-calc(14);
    color: white;
    border: 0;
    width: 100%;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    } // btn hover
  } // buttons

  .intro-input {
    font-size: 17px;
    padding-left: rem-calc(50);
  } // inputs

  .intro-input, .btn {
    border-radius: $global-radius;
    height: 45px;
  } // inputs btn commons

  .centered-link a {
    display: block;
    text-align: center;
    color: $black-40;
    text-decoration: underline;
    margin-top: rem-calc(20);
  } // centered links

  .normal-link {
    color: $black-40;
    font-size: rem-calc(15);
  }

  .field {
    position: relative;
  }

  .general-icon {
    width: 16px;
    position: absolute;
    top: rem-calc(15);
    left: rem-calc(20);
  }
} // body
