// VARS
// ----------------------------------------

//---- Colors -----
$success-color: #2ecc71;
$light-grey: #b3b3b3;
$dark-grey: #626262;


//---- Fonts -----
$font-family-sans-serif: "aktiv-grotesk", Helvetica, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

// ----------------------------------------

// Invitation to project email
// ----------------------------------------

html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  color: $dark-grey;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  min-height: 100%;
}//body

.btn-green {
  background-color: $success-color;
  border: 2px solid $success-color;
  border-radius: $global-radius;
  color: $white;
  cursor: pointer;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(15);
  font-weight: $font-weight-bold;
  margin: 0 auto;
  padding: rem-calc(10 25);
  text-align: center;
  text-decoration: none;

  &:hover:enabled {
    background-color: $white;
    color: $success-color;
  }//hover
}//btn-green

.btn-grey {
  background-color: $light-grey;
  border: 2px solid $light-grey;
  border-radius: $global-radius;
  color: $white;
  cursor: pointer;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: rem-calc(15);
  font-weight: $font-weight-bold;
  margin: 0 auto;
  padding: rem-calc(10 25);
  text-align: center;
  text-decoration: none;

  &:hover:enabled {
    background-color: $white;
    color: $success-color;
  }//hover
}//btn-grey

.emphasized-text {
  color: $success-color;
  font-weight: $font-weight-bold;
}

.content {
  display: block;
  margin: 0 auto;
  width: rem-calc(550);
}

.logo {
  content: url('/images/arbor-logo.svg');
  cursor: default;
  font-size: rem-calc(17);
  font-weight: $font-weight-normal;
  margin: 0 auto;
  padding-top: rem-calc(30);
  width: rem-calc(120);

  &:hover {
    color: $white;
    padding: rem-calc(13 15);
  }//hover
}

.tagline {
  color: $light-grey;
  font-size: rem-calc(12);
  margin: 10px auto 35px;
  text-align: center;
}
// ----------------------------------------
