// --------------------------------------------------------
// MAIN STYLES
// --------------------------------------------------------

.right-app-content {
  height: 100%;
  overflow-y: scroll;
  padding: 0;

  .content-general {
    height: calc(100% - 4.0625rem);
    padding: rem-calc(0 15);
  }
}

//Remove focus styles
input,
select { outline: 0; }

.resizable-text-area { min-height: rem-calc(1.7); }

.arbor-logo {
  margin: rem-calc(60) auto rem-calc(45);
  width: rem-calc(130);

  @media #{$small-only} { margin: rem-calc(35) auto; }
} // logo

.login-form,
.signup-form,
.reset-form {
  border: 1px solid $black-20;
  border-radius: $global-radius;
  margin-top: rem-calc(15);
  padding: rem-calc(30);
} //user session style

.button {
  text-transform: uppercase;
  width: 100%;
} // buttons

.secondary-btn {
  background-color: $black-10;
  color: $primary-color;
  font-weight: $font-weight-bold;

  &:hover {
    background-color: $black-20;
    color: $primary-color;
  }
}

.hollow-btn {
  background-color: $white;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-weight: $font-weight-bold;

  &:hover {
    background-color: $black-10;
    border: 1px solid $black-10;
    color: $primary-color;
  }
}

.icon {
  margin-bottom: rem-calc(2);
  width: rem-calc(16);
}

input {
  @include input-placeholder {
    color: $black-30;
    font-weight: $font-weight-normal;
  }
}

ul {
  list-style: none;
  margin: 0;
}

.field {
  position: relative;

  .icon {
    left: rem-calc(20);
    position: absolute;
    top: rem-calc(15);
  }
} // input icons

// scss-lint:disable QualifyingElement
input[type="text"],
input[type="email"],
input[type="password"] {
  height: rem-calc(45);

  &.with-icon {
    padding-left: rem-calc(50);
  } // inputs with icons
} // inputs

#error-explanation { color: $canvas-color; }

.section-margin-top { margin-top: rem-calc(150); }

.alert,
.warning,
.error {
  border: 0;
  left: 20%;
  margin: rem-calc(10) auto;
  padding: rem-calc(10 20);
  position: absolute;
  width: 60%;
  z-index: 9999;

  ul { font-size: rem-calc(14); }
}

.alert-box.error,
.alert-box.alert {
  background-color: $canvas-color;
}

.alert-box.warning { background-color: $success-color; }

.uppercase-subtitle {
  color: $black-30;
  font-size: rem-calc(12);
  text-transform: uppercase;
}
