#sidebar {
  background-color: $primary-color;
  color: $white;
  height: 100%;
  overflow-y: scroll;
  padding: 0;

  ul {
    @include transition(min-height .25s ease-in);
    overflow: hidden;
    position: relative;

    &.sidebar-project-list {
      height: rem-calc(66);
      min-height: rem-calc(66);
      padding-bottom: rem-calc(66);
    }

    &.active {
      height: auto;
      min-height: 100%;
    }

    li {
      @include single-transition(color, .25s, ease-in);
      background-color: darken($primary-color, 5%);
      color: $black-35;
      display: block;
      font-weight: $font-weight-normal;
      margin: 0;
      padding: rem-calc(0 20);
      position: relative;
      text-align: left;
      width: 100%;

      &:first-of-type {
        padding-top: rem-calc(14);

        &:hover a    { color: $white; }
        &:hover span { color: $success-color; }
      }

      &:last-of-type { padding: rem-calc(10 20); }

      &:hover {
        a { color: $white; }
        span { @include opacity(1); }
      }

      &.selected a {
        color: $white;
        font-weight: $font-weight-bold;
      }

      a {
        @include single-transition(color, .25s, ease-in);
        color: inherit;
        display: block;
        font-size: rem-calc(15);
        padding: rem-calc(10 0);

        &:hover,
        &:active { color: $white; }

        &.active { font-weight: $font-weight-normal; }

        +a { display: inline; }
      }

      .canvas {
        .bullet::before { color: $canvas-color; }
      }

      .backlog {
        .bullet::before { color: $backlog-color; }
      }

      img {
        display: inline-block;
        margin-left: rem-calc(7);
        width: rem-calc(20);

        &.icon {
          margin: rem-calc(-3 9 0 0);
          width: rem-calc(16);
        }
      }

      p {
        color: $black-50;
        display: inline-block;
        font-size: rem-calc(12);
        margin: 0;
        padding: rem-calc(14 0);
      }

      span {
        @include transition(opacity .25s ease-in, color .25s ease-in);
        @include opacity(0);
        color: $black-35;
        padding: rem-calc(10 0 10 10);
        position: absolute;
        right: rem-calc(20);
        top: 0;

        &:hover { color: $success-color; }

        &.icon-left,
        &.icon-arrow {
          @include opacity(1);
          font-size: rem-calc(14);
          padding: rem-calc(10);
          right: rem-calc(10);
          top: rem-calc(14);
        }
      } // span

      .bullet {
        @include opacity(1);
        padding: 0;
        top: 0;
        z-index: 1;

        &::before {
          @include single-transition(all, .25s, ease-in);
          color: $lab-color;
          content: '\2022';
          font-size: rem-calc(30);
          margin-right: rem-calc(5);
          position: absolute;
          right: 0;
        }
      }

      .button {
        color: $white;
        font-size: rem-calc(13);
        margin-top: rem-calc(10);
        padding: rem-calc(14);
      }
    } // li

    @media #{ $large-up } {
      .canvas,
      .lab,
      .backlog {
        &:hover {
          .bullet::before { right: rem-calc(24); }
        }
      }//section links
    }
  } // ul

  .toolbar {
    @include transition(top .5s ease-in-out);
    background-color: $primary-color;
    height: 100%;
    left: 0;
    position: absolute;
    top: rem-calc(66);
    width: 100%;

    &.active { top: 100%; }
  }

  #extras,
  #workspace {
    border-bottom: 2px solid darken($primary-color, 5%);
    height: auto;
    padding-bottom: rem-calc(10);

    li {
      background-color: $primary-color;
      padding: rem-calc(0 20);

      &:first-of-type {
        color: darken($black-35, 20%);
        padding: rem-calc(14 20);
      }
    }
  }

  #extras { border: 0; }

  .footer {
    border-top: 1px solid $primary-color;
    bottom: 0;
    height: rem-calc(66);
    padding: 0;
    position: fixed;
    z-index: 1;

    a { display: inline; }
  }

  .icon-arrow {
    @include rotate(180deg);
    @include single-transition(transform, .25s, ease-in);

    &.active { @include rotate(0); }
  }

  .arbor-version {
    color: lighten($secondary-color, 10%);
    left: rem-calc(15);
    margin-left: rem-calc(5);
    position: absolute;
    top: rem-calc(25);
  }// arbor-version
} // sidebar
