#user-session {
  .signup-form .button { margin-bottom: 0; }

  h2 { margin-bottom: rem-calc(20); }

  label {
    color: $black-30;
    vertical-align: middle;
  }

  .password-information {
    color: $black-30;
    font-size: rem-calc(13);
    padding-bottom: rem-calc(10);
  }

  .forgot-password {
    color: $black-40;
    display: block;
    text-decoration: underline;
  } // centered links
} // section intro

.password-input input { margin-bottom: rem-calc(5); }

.password-length { color: $black-50; }

.password-new { margin-top: rem-calc(10); }
