section#intro {
  .arbor-logo {
    width: 150px;
    margin: rem-calc(60 auto);

    @media #{$small-only} {
      width: 130px;
      margin: rem-calc(35 auto);
    }
  } // logo

  h1 {
    color: $black-50;
  }

  .login, .signup {
    background-color: $light-bg;
    border: 1px solid $black-10;
    border-radius: $global-radius;
    padding: rem-calc(30);
  }

  .normal-link {
    vertical-align: middle;
  }

  .signup {
    @media #{$small-only} {
      margin-top: rem-calc(15);
    } // media small
  }  //signup small
} // section intro
