- if notice
  .alert-box.warning.radius{ data: { alert: '' } }
    = notice
    %a.close{ href:'#' }
      &times;
- if alert
  .alert-box.error.radius{ data: { alert: '' } }
    = alert
    %a.close{ href:'#' }
      &times;
