- if notice
  .alert-box.warning.round{ data: { alert: '' } }
    = notice
    %a.close{ href:'#' }
      &times;
- if alert
  .alert-box.error.round{ data: { alert: '' } }
    = alert
    %a.close{ href:'#' }
      &times;
